In [1]:
import sys
import pandas as pd

In [2]:
regions = pd.read_csv("regions_to_remove.txt",index_col=None,header=0,sep="\t")

In [3]:
regions

   Start   Stop
0    208    268
1   1030   1105
2   5208   5278
3   9877   9955
4  10050  10135
5  15344  15416
6  16085  16106
7  17252  17348

In [24]:
data = pd.read_csv("../../big_dataframe_Xist.txt",sep="\t",index_col=0,header=0)
normdata = pd.read_csv("../../big_dataframe_Xist_diffBUM_HMM_scaled_dc.txt",sep="\t",index_col=0,header=0)

In [25]:
data.head()

,nucleotide_number,nucleotide_identity,DeltaSHAPE_ex_vivo,DeltaSHAPE_in_cell,average_deltaSHAPE,CELF1,FUS,HuR,PTBP1,RBFOX2,TARDBP,diffBUMHMM_in_cell,diffBUMHMM_ex_vivo,dStruct_DDR
0,1,C,0,0,0.0,0,0,0,0,0,0,9.079400e-11,3.025526e-31,0
1,2,G,0,0,0.0,0,0,0,0,0,0,2.755947e-03,2.754797e-03,0
2,3,G,0,0,0.0,0,0,0,0,0,0,4.410761e-35,2.410406e-65,0
3,4,C,0,0,0.0,0,0,0,0,0,0,2.754800e-03,2.754800e-03,0
4,5,T,0,0,0.0,0,0,0,0,0,0,3.113083e-30,1.367282e-82,0

In [26]:
for region in regions.index:
    start,end = regions.loc[region].values
    start -= 1 ### convert to zero-based data
    data.drop(data.index[start:end])
    normdata.drop(normdata.index[start:end])

In [28]:
data.to_csv("../../big_dataframe_Xist_regions_removed.txt",sep="\t")
normdata.to_csv("../../big_dataframe_Xist_diffBUM_HMM_scaled_dc_regions_removed.txt",sep="\t")