In [141]:
import sys
import numpy as np
import pandas as pd
from collections import defaultdict

In [142]:
## Loading the data
deltashaperepone = pd.read_csv('../../deltaSHAPE_confirmed_sites/deltaSHAPE_rep1.igv',sep="\t")
deltashapereptwo = pd.read_csv('../../deltaSHAPE_confirmed_sites/deltaSHAPE_rep2.igv',sep="\t")
alldata  = pd.read_csv('../../big_dataframe_Xist_diffBUM_HMM_scaled_dc.txt',sep="\t",header=0,index_col=0)
previous = pd.read_csv('../../big_dataframe_Xist.txt',sep="\t",header=0,index_col=0)

In [143]:
deltashaperepone.head()

  Chromosome  Start  End     Feature  deltaSHAPE
0  mm10_XIST    209  210  deltaSHAPE    1.365817
1  mm10_XIST    210  211  deltaSHAPE    1.504202
2  mm10_XIST    211  212  deltaSHAPE    1.721811
3  mm10_XIST    243  244  deltaSHAPE    1.628085
4  mm10_XIST    244  245  deltaSHAPE    2.116178

In [144]:
deltashapereptwo.head()

  Chromosome  Start  End     Feature  deltaSHAPE_rep1
0  mm10_XIST    178  179  deltaSHAPE        -1.525417
1  mm10_XIST    179  180  deltaSHAPE        -1.403042
2  mm10_XIST    180  181  deltaSHAPE        -1.415818
3  mm10_XIST    181  182  deltaSHAPE        -1.232581
4  mm10_XIST    182  183  deltaSHAPE        -1.556549

In [145]:
deltashapereptwo.head()

  Chromosome  Start  End     Feature  deltaSHAPE_rep1
0  mm10_XIST    178  179  deltaSHAPE        -1.525417
1  mm10_XIST    179  180  deltaSHAPE        -1.403042
2  mm10_XIST    180  181  deltaSHAPE        -1.415818
3  mm10_XIST    181  182  deltaSHAPE        -1.232581
4  mm10_XIST    182  183  deltaSHAPE        -1.556549

### The number of published deltaSHAPE sites is lower than the numbers obtained by running the .map file in SHAPEMAP.

In [146]:
print(len(deltashaperepone[deltashaperepone.deltaSHAPE > 0].index))
print(len(deltashaperepone[deltashaperepone.deltaSHAPE < 0].index))
print(len(deltashapereptwo[deltashapereptwo.deltaSHAPE_rep1 > 0].index))
print(len(deltashapereptwo[deltashapereptwo.deltaSHAPE_rep1 < 0].index))

461
337
511
430

In [147]:
alldata.head()

,nucleotide_number,nucleotide_identity,DeltaSHAPE_ex_vivo,DeltaSHAPE_in_cell,average_deltaSHAPE,CELF1,FUS,HuR,PTBP1,RBFOX2,TARDBP,diffBUMHMM_in_cell,diffBUMHMM_ex_vivo,dStruct_DDR
0,1,C,0,0,0.0,0,0,0,0,0,0,1.693237e-14,1.790644e-20,0
1,2,G,0,0,0.0,0,0,0,0,0,0,6.789051e-03,6.823904e-03,0
2,3,G,0,0,0.0,0,0,0,0,0,0,9.031615e-03,9.110841e-03,0
3,4,C,0,0,0.0,0,0,0,0,0,0,6.793530e-03,6.927069e-03,0
4,5,T,0,0,0.0,0,0,0,0,0,0,1.128597e-08,5.186918e-06,0

In [148]:
alldata[alldata.average_deltaSHAPE > 0].head()

,nucleotide_number,nucleotide_identity,DeltaSHAPE_ex_vivo,DeltaSHAPE_in_cell,average_deltaSHAPE,CELF1,FUS,HuR,PTBP1,RBFOX2,TARDBP,diffBUMHMM_in_cell,diffBUMHMM_ex_vivo,dStruct_DDR
209,210,T,1,0,1.365817,0,0,0,0,0,0,3.341549e-04,4.392628e-01,1
210,211,T,1,0,1.504202,0,0,0,0,0,0,6.123091e-24,1.242867e-52,1
211,212,T,1,0,1.721811,0,0,0,0,0,0,1.802013e-04,2.930757e-01,1
243,244,A,1,0,1.628085,0,0,1,0,0,0,2.619692e-12,3.105350e-56,1
244,245,T,1,0,2.116178,0,0,1,0,0,0,1.021677e-03,2.388718e-01,1

In [149]:
alldata.columns

Index(['nucleotide_number', 'nucleotide_identity', 'DeltaSHAPE_ex_vivo',
       'DeltaSHAPE_in_cell', 'average_deltaSHAPE', 'CELF1', 'FUS', 'HuR',
       'PTBP1', 'RBFOX2', 'TARDBP', 'diffBUMHMM_in_cell', 'diffBUMHMM_ex_vivo',
       'dStruct_DDR'],
      dtype='object')

In [150]:
alldata.columns[2:5]

Index(['DeltaSHAPE_ex_vivo', 'DeltaSHAPE_in_cell', 'average_deltaSHAPE'], dtype='object')

### Merging the two datasets and only keeping those that had deltaSHAPE values in both

In [151]:
mergeddict = defaultdict(float)
for i,j in deltashaperepone[["Start","deltaSHAPE"]].values:
    mergeddict[i] = float(j)
firstrep = pd.DataFrame.from_dict(mergeddict,orient='index')

In [152]:
mergeddicttwo = defaultdict(float)
for i,j in deltashapereptwo[["Start","deltaSHAPE_rep1"]].values:
    mergeddicttwo[i] = float(j)
secondrep = pd.DataFrame.from_dict(mergeddicttwo,orient='index')

In [153]:
len(mergeddict.keys())

798

In [154]:
len(mergeddicttwo.keys())

941

### How many positions do they have in common?

In [155]:
print(len(set(firstrep.index) & set(secondrep.index)))

190

### That is VERY poor overlap! That means we can't simply average the two datasets!
Do the rest of the analyses on both replicates individually. Add them to the big table.

In [167]:
alldata.columns

Index(['nucleotide_number', 'nucleotide_identity', 'deltaSHAPE_rep1',
       'deltaSHAPE_rep2', 'average_deltaSHAPE', 'CELF1', 'FUS', 'HuR', 'PTBP1',
       'RBFOX2', 'TARDBP', 'diffBUMHMM_in_cell', 'diffBUMHMM_ex_vivo',
       'dStruct_DDR'],
      dtype='object')

In [168]:
previous.columns

Index(['nucleotide_number', 'nucleotide_identity', 'DeltaSHAPE_ex_vivo',
       'DeltaSHAPE_in_cell', 'average_deltaSHAPE', 'CELF1', 'FUS', 'HuR',
       'PTBP1', 'RBFOX2', 'TARDBP', 'diffBUMHMM_in_cell', 'diffBUMHMM_ex_vivo',
       'dStruct_DDR'],
      dtype='object')

In [157]:
alldata.insert(4,"deltaSHAPE_rep1",0)
alldata.insert(5,"deltaSHAPE_rep2",0)

In [169]:
previous.insert(4,"deltaSHAPE_rep1",0)
previous.insert(5,"deltaSHAPE_rep2",0)

In [158]:
alldata.columns

Index(['nucleotide_number', 'nucleotide_identity', 'DeltaSHAPE_ex_vivo',
       'DeltaSHAPE_in_cell', 'deltaSHAPE_rep1', 'deltaSHAPE_rep2',
       'average_deltaSHAPE', 'CELF1', 'FUS', 'HuR', 'PTBP1', 'RBFOX2',
       'TARDBP', 'diffBUMHMM_in_cell', 'diffBUMHMM_ex_vivo', 'dStruct_DDR'],
      dtype='object')

In [170]:
previous.columns

Index(['nucleotide_number', 'nucleotide_identity', 'DeltaSHAPE_ex_vivo',
       'DeltaSHAPE_in_cell', 'deltaSHAPE_rep1', 'deltaSHAPE_rep2',
       'average_deltaSHAPE', 'CELF1', 'FUS', 'HuR', 'PTBP1', 'RBFOX2',
       'TARDBP', 'diffBUMHMM_in_cell', 'diffBUMHMM_ex_vivo', 'dStruct_DDR'],
      dtype='object')

In [159]:
alldata.drop(columns=["DeltaSHAPE_ex_vivo","DeltaSHAPE_in_cell"],inplace=True)

In [171]:
previous.drop(columns=["DeltaSHAPE_ex_vivo","DeltaSHAPE_in_cell"],inplace=True)

### Adding the two replicates:

In [166]:
for pos in firstrep.index:
    pos = int(pos)
    value = firstrep.loc[pos].values[0]
    alldata.loc[pos-1,"deltaSHAPE_rep1"] = value
    
for pos in secondrep.index:
    pos = int(pos)
    value = secondrep.loc[pos].values[0]
    alldata.loc[pos-1,"deltaSHAPE_rep2"] = value

In [172]:
for pos in firstrep.index:
    pos = int(pos)
    value = firstrep.loc[pos].values[0]
    previous.loc[pos-1,"deltaSHAPE_rep1"] = value
    
for pos in secondrep.index:
    pos = int(pos)
    value = secondrep.loc[pos].values[0]
    previous.loc[pos-1,"deltaSHAPE_rep2"] = value

In [173]:
alldata.to_csv('../../big_dataframe_Xist_diffBUM_HMM_scaled_dc_deltaSHAPE_corrected.txt',sep="\t")
previous.to_csv('../../big_dataframe_Xist_deltaSHAPE_corrected.txt',sep="\t")