In [1]:
import pandas as pd
import numpy as np
import os
import glob

In [2]:
colnames=['nucleotide_number', 'SHAPE_reactivity', 'SE_reactivity', 'nucleotide_identity'] 
df = pd.read_csv("../../Data/Map files Xist/XIST_exvivo_1M7_rep1.map", sep="\t",names=colnames, header=None,index_col=0)
df.head()

                   SHAPE_reactivity  SE_reactivity nucleotide_identity
nucleotide_number
1                            -999.0            0.0                   C
2                            -999.0            0.0                   G
3                            -999.0            0.0                   G
4                            -999.0            0.0                   C
5                            -999.0            0.0                   T

### don't need the SHAPE reactivity, only the delta shape values so the first two columns can go:

In [3]:
df = df.drop(df[["SHAPE_reactivity","SE_reactivity"]],axis=1)

In [4]:
#Create empty column
df["DeltaSHAPE_ex_vivo"] = 0
df["DeltaSHAPE_in_cell"] = 0

In [5]:
df.head()

                  nucleotide_identity  DeltaSHAPE_ex_vivo  DeltaSHAPE_in_cell
nucleotide_number
1                                   C                   0                   0
2                                   G                   0                   0
3                                   G                   0                   0
4                                   C                   0                   0
5                                   T                   0                   0

In [6]:
#ADDING DELTA SHAPE INFORMATION

exvivo = pd.read_csv('../../Data/Map files Xist/XIST_exvivo_1M7.txt', sep="\t", header=0, index_col=0)
invivo = pd.read_csv('../../Data/Map files Xist/XIST_incell_1M7.txt', sep="\t", header=0, index_col=0)

In [7]:
exvivo.head()

,Seq,DeltaSHAPE,Z-factor,Std_Score,Smoothed_Data1,Smoothed_Data2,Unsmoothed_Diff,Data1,Data2
Nuc,,,,,,,,,
244,A,1.368899,0.019381,2.130176,1.832348,0.463448,0.537492,1.282884,0.745392
245,T,1.673745,0.189786,2.600041,1.998237,0.324492,3.612596,3.480285,-0.132310
246,T,1.871282,0.128359,2.904509,2.428288,0.557006,0.871147,1.231543,0.360396
278,G,-0.780619,0.268984,-1.182927,0.048928,0.829547,-0.076674,0.407420,0.484094
279,T,-1.017553,0.330340,-1.548119,0.285774,1.303327,-2.017424,-0.290529,1.726895

In [8]:
invivo.head()

,Seq,DeltaSHAPE,Z-factor,Std_Score,Smoothed_Data1,Smoothed_Data2,Unsmoothed_Diff,Data1,Data2
Nuc,,,,,,,,,
179,A,-1.274854,0.333281,-1.377909,0.568192,1.843045,-0.381657,0.536226,0.917883
180,A,-1.008201,0.233533,-1.105182,0.594011,1.602212,-2.956834,1.060761,4.017596
181,G,-1.154710,0.314441,-1.255028,0.687081,1.841791,0.313888,0.185045,-0.128844
183,T,-1.313145,0.222560,-1.417072,0.535941,1.849086,-2.481902,0.593858,3.075760
184,T,-1.276490,0.058700,-1.379582,0.252471,1.528960,-0.636349,0.198529,0.834878

In [9]:
df["DeltaSHAPE_ex_vivo"].loc[exvivo.index] = exvivo["DeltaSHAPE"]
df["DeltaSHAPE_in_cell"].loc[invivo.index] = invivo["DeltaSHAPE"]

C:\Users\maran\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

### Check if it has been inserted correctly!!:

In [10]:
df[df["DeltaSHAPE_in_cell"] != 0].head()

                  nucleotide_identity  DeltaSHAPE_ex_vivo  DeltaSHAPE_in_cell
nucleotide_number
179                                 A                 0.0           -1.274854
180                                 A                 0.0           -1.008201
181                                 G                 0.0           -1.154710
183                                 T                 0.0           -1.313145
184                                 T                 0.0           -1.276490

In [11]:
file_list = glob.glob("../../Data/Bed files Xist/CLIPdb_transcript_coords/*.bed")
for i in file_list:
    print(i)

../../Data/Bed files Xist/CLIPdb_transcript_coords\CELF1_E-MTAB-414-ERR039244-ERR039245-ERR039247-ERR039249_xist_coords.bed
../../Data/Bed files Xist/CLIPdb_transcript_coords\CELF1_E-MTAB-414-ERR039246-ERR039248_xist_coords.bed
../../Data/Bed files Xist/CLIPdb_transcript_coords\FUS_GSE40653-GSM998872_xist_coords.bed
../../Data/Bed files Xist/CLIPdb_transcript_coords\FUS_GSE40653-GSM998873_xist_coords.bed
../../Data/Bed files Xist/CLIPdb_transcript_coords\FUS_GSE40653-GSM998874_xist_coords.bed
../../Data/Bed files Xist/CLIPdb_transcript_coords\HuR_DO-RIP-Seq_xist_coords.bed
../../Data/Bed files Xist/CLIPdb_transcript_coords\PTBP1_E-MTAB-414-ERR039255-ERR039256_xist_coords.bed
../../Data/Bed files Xist/CLIPdb_transcript_coords\RBFOX2_SRX355540_xist_coords.bed
../../Data/Bed files Xist/CLIPdb_transcript_coords\TARDBP_GSE27394-GSM672062_xist_coords.bed
../../Data/Bed files Xist/CLIPdb_transcript_coords\TARDBP_GSE27394-GSM672063_xist_coords.bed
../../Data/Bed files Xist/CLIPdb_transcript_coords\TARDBP_GSE40653-GSM998871_xist_coords.bed

In [12]:
proteins = set()
for i in file_list:
    file = os.path.basename(i)
    protein = file.split("_")[0]
    print(protein)
    proteins.add(protein)
    if protein not in df.columns:
        df[protein] = 0
    #else:
    data = pd.read_csv(i,sep="\t",header=None,index_col=None,names=["gene",\
                                                                        "start",\
                                                                        "end",\
                                                                        "name",\
                                                                        "coverage",\
                                                                        ".",\
                                                                        "p_value"])
    for j in data.index:
        start = int(data.loc[j,"start"])          
        end = int(data.loc[j,"end"])
        coordinates = np.arange(start,end+1)
        df.loc[coordinates,protein] = 1

CELF1
CELF1
FUS
FUS
FUS
HuR
PTBP1
RBFOX2
TARDBP
TARDBP
TARDBP

### Check if there is anything in the colums!
Also manually check this Paolo please.

In [13]:
for i in list(proteins):
    print(i)
    print(df[i][df[i]==1])

FUS
nucleotide_number
294      1
295      1
296      1
297      1
298      1
299      1
300      1
301      1
302      1
303      1
304      1
305      1
306      1
307      1
308      1
309      1
310      1
311      1
312      1
313      1
314      1
354      1
355      1
356      1
357      1
358      1
359      1
360      1
361      1
362      1
        ..
17783    1
17784    1
17785    1
17786    1
17787    1
17788    1
17789    1
17790    1
17791    1
17811    1
17812    1
17813    1
17814    1
17815    1
17816    1
17817    1
17818    1
17819    1
17820    1
17821    1
17822    1
17823    1
17824    1
17825    1
17826    1
17827    1
17828    1
17829    1
17830    1
17831    1
Name: FUS, Length: 3587, dtype: int64
HuR
nucleotide_number
213      1
214      1
215      1
216      1
217      1
218      1
219      1
220      1
221      1
222      1
223      1
224      1
225      1
226      1
227      1
228      1
229      1
230      1
231      1
232      1
233      1
234      1
235      1
236      1
237      1
238      1
239      1
240      1
241      1
242      1
        ..
17416    1
17417    1
17418    1
17419    1
17420    1
17421    1
17422    1
17423    1
17424    1
17425    1
17426    1
17427    1
17428    1
17429    1
17430    1
17431    1
17432    1
17433    1
17434    1
17435    1
17436    1
17437    1
17438    1
17439    1
17440    1
17441    1
17442    1
17443    1
17444    1
17445    1
Name: HuR, Length: 1137, dtype: int64
TARDBP
nucleotide_number
794      1
795      1
796      1
797      1
798      1
799      1
800      1
801      1
802      1
803      1
804      1
805      1
806      1
807      1
808      1
809      1
810      1
811      1
812      1
813      1
814      1
815      1
816      1
817      1
818      1
819      1
820      1
821      1
822      1
823      1
        ..
11622    1
11623    1
11624    1
11625    1
11626    1
11627    1
11628    1
11629    1
11630    1
11631    1
11632    1
11633    1
11634    1
11635    1
11636    1
11637    1
11638    1
11639    1
11640    1
11641    1
11642    1
11643    1
11644    1
11645    1
11646    1
11647    1
11648    1
11649    1
11650    1
11651    1
Name: TARDBP, Length: 517, dtype: int64
CELF1
nucleotide_number
8814     1
8815     1
8816     1
8817     1
8818     1
8819     1
8820     1
8821     1
8822     1
8823     1
8824     1
8825     1
8826     1
8827     1
8828     1
8829     1
8830     1
8831     1
8832     1
8833     1
8834     1
9254     1
9255     1
9256     1
9257     1
9258     1
9259     1
9260     1
9261     1
9262     1
        ..
13823    1
13824    1
13825    1
13826    1
13827    1
13828    1
13829    1
13830    1
13831    1
16631    1
16632    1
16633    1
16634    1
16635    1
16636    1
16637    1
16638    1
16639    1
16640    1
16641    1
16642    1
16643    1
16644    1
16645    1
16646    1
16647    1
16648    1
16649    1
16650    1
16651    1
Name: CELF1, Length: 781, dtype: int64
PTBP1
nucleotide_number
10311    1
10312    1
10313    1
10314    1
10315    1
10316    1
10317    1
10318    1
10319    1
10320    1
10321    1
10322    1
10323    1
10324    1
10325    1
10326    1
10327    1
10328    1
10329    1
10330    1
10331    1
10391    1
10392    1
10393    1
10394    1
10395    1
10396    1
10397    1
10398    1
10399    1
        ..
13463    1
13464    1
13465    1
13466    1
13467    1
13468    1
13469    1
13470    1
13471    1
14771    1
14772    1
14773    1
14774    1
14775    1
14776    1
14777    1
14778    1
14779    1
14780    1
14781    1
14782    1
14783    1
14784    1
14785    1
14786    1
14787    1
14788    1
14789    1
14790    1
14791    1
Name: PTBP1, Length: 582, dtype: int64
RBFOX2
nucleotide_number
154      1
155      1
156      1
157      1
158      1
159      1
160      1
161      1
162      1
163      1
164      1
165      1
166      1
167      1
168      1
169      1
170      1
171      1
172      1
173      1
174      1
4094     1
4095     1
4096     1
4097     1
4098     1
4099     1
4100     1
4101     1
4102     1
        ..
4106     1
4107     1
4108     1
4109     1
4110     1
4111     1
4112     1
4113     1
4114     1
14971    1
14972    1
14973    1
14974    1
14975    1
14976    1
14977    1
14978    1
14979    1
14980    1
14981    1
14982    1
14983    1
14984    1
14985    1
14986    1
14987    1
14988    1
14989    1
14990    1
14991    1
Name: RBFOX2, Length: 63, dtype: int64

In [14]:
df.to_csv("../../Data/All_data_table.txt",sep="\t")

In [21]:
df.iloc[292:315,:]

,nucleotide_identity,DeltaSHAPE_ex_vivo,DeltaSHAPE_in_cell,CELF1,FUS,HuR,PTBP1,RBFOX2,TARDBP
nucleotide_number,,,,,,,,,
293,T,0.0,0.0,0,0,1,0,0,0
294,G,0.0,0.0,0,1,1,0,0,0
295,T,0.0,0.0,0,1,1,0,0,0
296,A,0.0,0.0,0,1,1,0,0,0
297,T,0.0,0.0,0,1,1,0,0,0
298,G,0.0,0.0,0,1,1,0,0,0
299,G,0.0,0.0,0,1,1,0,0,0
300,T,0.0,0.0,0,1,1,0,0,0
301,G,0.0,0.0,0,1,1,0,0,0
302,G,0.0,0.0,0,1,1,0,0,0
303,A,0.0,0.0,0,1,1,0,0,0
304,C,0.0,0.0,0,1,1,0,0,0
305,T,0.0,0.0,0,1,1,0,0,0
306,T,0.0,0.0,0,1,1,0,0,0
307,A,0.0,0.0,0,1,1,0,0,0
308,C,0.0,0.0,0,1,1,0,0,0
309,C,0.0,0.0,0,1,1,0,0,0
310,T,0.0,0.0,0,1,1,0,0,0
311,T,0.0,0.0,0,1,1,0,0,0
312,T,0.0,0.0,0,1,1,0,0,0
313,C,0.0,0.0,0,1,1,0,0,0
314,T,0.0,0.0,0,1,1,0,0,0
315,T,0.0,0.0,0,0,1,0,0,0