In [1]:
import sys
import glob
import pandas as pd
import numpy as np
from collections import defaultdict

### Opening and storing the Xist sequence:

In [2]:
sequencefile = open("../../../Reference_sequences/Xist.seq","r").readlines()
sequence = "".join([i.strip() for i in sequencefile])

In [3]:
sequence[:10]

'CGGCTTGCTC'

### Adding secondary structure information:

In [4]:
secstructure = pd.read_csv("../../../Data/Xist_secondary_structure_info.txt",sep="\t",\
                          header=0,\
                          index_col=0,\
                          names=['nucleotide','base_paired_to'])

In [5]:
secstructure.head()

            base_paired_to
nucleotide
1                        0
2                       15
3                       14
4                       13
5                       12

### diffBUM_HMM data made by Toby on the 27th of May 2020:
Two datasets, one normalized by denatured, the other without normalization.

In [6]:
diffBUMHMMnorm = pd.read_csv("../../../Analysis/diffBUM-HMM/Xist_diff_BUM_HMM_analysis_withscaling.txt",\
                         sep="\t",\
                         header=0,\
                         index_col=0,\
                         names=["nucleotide","scaled_unmodified","scaled_ex_vivo","scaled_in_vivo","scaled_both"])

diffBUMHMM = pd.read_csv("../../../Analysis/diffBUM-HMM/Xist_diff_BUM_HMM_analysis_noscaling.txt",\
                         sep="\t",\
                         header=0,\
                         index_col=0,\
                         names=["nucleotide","unmodified","ex_vivo","in_vivo","both"])

In [7]:


diffBUMHMMnorm.iloc[0]= [-999, -999, -999,-999]
diffBUMHMMnorm.head()

#If there is a problem, replacethe first line with 999

            scaled_unmodified  scaled_ex_vivo  scaled_in_vivo  scaled_both
nucleotide
1                 -999.000000     -999.000000     -999.000000  -999.000000
2                    0.712398        0.131639        0.131639     0.024325
3                    0.761379        0.111191        0.111191     0.016238
4                    0.795446        0.096432        0.096432     0.011690
5                    0.819621        0.085708        0.085708     0.008963

In [8]:
diffBUMHMM.tail()




#If there is a problem, add an extra line of 999

            unmodified     ex_vivo     in_vivo        both
nucleotide
17914         0.795446    0.096432    0.096432    0.011690
17915         0.761379    0.111191    0.111191    0.016238
17916         0.712398    0.131639    0.131639    0.024325
17917         0.640000    0.160000    0.160000    0.040000
17918      -999.000000 -999.000000 -999.000000 -999.000000

In [9]:
diffBUMHMM.head()

            unmodified   ex_vivo   in_vivo      both
nucleotide
1             0.712398  0.131639  0.131639  0.024325
2             0.761379  0.111191  0.111191  0.016238
3             0.795446  0.096432  0.096432  0.011690
4             0.819621  0.085708  0.085708  0.008963
5             0.837027  0.077865  0.077865  0.007243

In [10]:
diffBUMHMM = diffBUMHMM.iloc[:-1]

 # adding a row
diffBUMHMM.loc[-1] = [-999, -999, -999,-999]  # adding a row

diffBUMHMM.index = diffBUMHMM.index + 1  # shifting index
diffBUMHMM= diffBUMHMM.sort_index()  # sorting by index
diffBUMHMM= diffBUMHMM.reindex(index=range(1,17919))
diffBUMHMM.iloc[0]= [-999, -999, -999,-999] 
diffBUMHMM

            unmodified     ex_vivo     in_vivo        both
nucleotide
1          -999.000000 -999.000000 -999.000000 -999.000000
2             0.712398    0.131639    0.131639    0.024325
3             0.761379    0.111191    0.111191    0.016238
4             0.795446    0.096432    0.096432    0.011690
5             0.819621    0.085708    0.085708    0.008963
6             0.837027    0.077865    0.077865    0.007243
7             0.849693    0.072095    0.072095    0.006117
8             0.858981    0.067831    0.067831    0.005356
9             0.865833    0.064669    0.064669    0.004830
10            0.870907    0.062317    0.062317    0.004459
11            0.874678    0.060564    0.060564    0.004194
12            0.877487    0.059256    0.059256    0.004001
13            0.879582    0.058278    0.058278    0.003861
14            0.881148    0.057547    0.057547    0.003758
15            0.882318    0.057000    0.057000    0.003682
16            0.883195    0.056590    0.056590    0.003626
17            0.883851    0.056283    0.056283    0.003584
18            0.884342    0.056053    0.056053    0.003553
19            0.884710    0.055880    0.055880    0.003530
20            0.884986    0.055751    0.055751    0.003512
21            0.885193    0.055654    0.055654    0.003499
22            0.885348    0.055581    0.055581    0.003489
23            0.885464    0.055527    0.055527    0.003482
24            0.885552    0.055486    0.055486    0.003477
25            0.885617    0.055455    0.055455    0.003472
26            0.885666    0.055432    0.055432    0.003469
27            0.885703    0.055415    0.055415    0.003467
28            0.885730    0.055402    0.055402    0.003465
29            0.885751    0.055392    0.055392    0.003464
30            0.885767    0.055385    0.055385    0.003463
...                ...         ...         ...         ...
17889         0.885767    0.055385    0.055385    0.003463
17890         0.885751    0.055392    0.055392    0.003464
17891         0.885730    0.055402    0.055402    0.003465
17892         0.885703    0.055415    0.055415    0.003467
17893         0.885666    0.055432    0.055432    0.003469
17894         0.885617    0.055455    0.055455    0.003472
17895         0.885552    0.055486    0.055486    0.003477
17896         0.885464    0.055527    0.055527    0.003482
17897         0.885348    0.055581    0.055581    0.003489
17898         0.885193    0.055654    0.055654    0.003499
17899         0.884986    0.055751    0.055751    0.003512
17900         0.884710    0.055880    0.055880    0.003530
17901         0.884342    0.056053    0.056053    0.003553
17902         0.883851    0.056283    0.056283    0.003584
17903         0.883195    0.056590    0.056590    0.003626
17904         0.882318    0.057000    0.057000    0.003682
17905         0.881148    0.057547    0.057547    0.003758
17906         0.879582    0.058278    0.058278    0.003861
17907         0.877487    0.059256    0.059256    0.004001
17908         0.874678    0.060564    0.060564    0.004194
17909         0.870907    0.062317    0.062317    0.004459
17910         0.865833    0.064669    0.064669    0.004830
17911         0.858981    0.067831    0.067831    0.005356
17912         0.849693    0.072095    0.072095    0.006117
17913         0.837027    0.077865    0.077865    0.007243
17914         0.819621    0.085708    0.085708    0.008963
17915         0.795446    0.096432    0.096432    0.011690
17916         0.761379    0.111191    0.111191    0.016238
17917         0.712398    0.131639    0.131639    0.024325
17918         0.640000    0.160000    0.160000    0.040000

[17918 rows x 4 columns]

### Loading the dStruct analysis results:

In [11]:
dStruct_not_scaled = pd.read_csv("../../../Analysis/dStruct/Xist/output_dStruct_no_scaling_Xist_res_table_11nt.txt",\
                        sep="\t",\
                        index_col=0,\
                        header=0)

dStruct_scaled = pd.read_csv("../../../Analysis/dStruct/Xist/output_dStruct_with_scaling_Xist_res_table_11nt.txt",\
                        sep="\t",\
                        index_col=0,\
                        header=0)

In [12]:
df = pd.DataFrame(index=range(1,17919),columns=range(2))

df = df.fillna(0) 


df.columns = ['dStruct', 'dStruct_scaled']


for j in dStruct_not_scaled.index:
    start = j
    
    end=dStruct_not_scaled.loc[start,"Stop"]
   
    coordinates = np.arange(start,end+1)
    df.loc[coordinates,'dStruct'] = 1

for j in dStruct_scaled.index:
    start = j
   
    end=dStruct_scaled.loc[start,"Stop"]
    
    coordinates = np.arange(start,end+1)
    df.loc[coordinates,'dStruct_scaled'] = 1
    


df.head()

   dStruct  dStruct_scaled
1        0               0
2        0               0
3        0               0
4        0               0
5        0               0

### Loading the SHAPE .map files for each replicate:

In [13]:
ex_vivo_1 = pd.read_csv("../../../Data/Map_files_Xist/XIST_exvivo_1M7_rep1.map",\
                        sep="\t",\
                        index_col=0,\
                        header=None,\
                        names=["SHAPE_reactivity","Error","nucleotide"])
ex_vivo_2 = pd.read_csv("../../../Data/Map_files_Xist/XIST_exvivo_1M7_rep2.map",\
                        sep="\t",\
                        index_col=0,\
                        header=None,\
                        names=["SHAPE_reactivity","Error","nucleotide"])
in_cell_1 = pd.read_csv("../../../Data/Map_files_Xist/XIST_incell_1M7_rep1.map",\
                        sep="\t",\
                        index_col=0,\
                        header=None,\
                        names=["SHAPE_reactivity","Error","nucleotide"])
in_cell_2 = pd.read_csv("../../../Data/Map_files_Xist/XIST_incell_1M7_rep2.map",\
                        sep="\t",\
                        index_col=0,\
                        header=None,\
                        names=["SHAPE_reactivity","Error","nucleotide"])

In [14]:
ex_vivo_1.head()

   SHAPE_reactivity  Error nucleotide
1            -999.0    0.0          C
2            -999.0    0.0          G
3            -999.0    0.0          G
4            -999.0    0.0          C
5            -999.0    0.0          T

### Loading the RBP binding sites:

In [15]:
proteins = ["CELF1","FUS","HuR","PTBP1","RBFOX2","TARDBP"]

In [16]:
directory = "../../../Data/Bed_files_Xist/CLIPdb_transcript_coords"
proteindata = defaultdict(list)
for protein in proteins:
    ### First grabbing all the files with protein binding sites:
    files = glob.glob("%s/%s*" % (directory,protein))
    ### Now extracting the start and end positions and storing these
    ### in a list of tuples:
    for i in files:
        data = pd.read_csv(i,\
                           sep="\t",\
                           header=None,\
                           index_col=None)
        ### start is column 1 and end is column 2
        start = data[data.columns[1]].values
        end = data[data.columns[2]].values
        coordinates = (list(zip(start,end)))
        proteindata[protein].extend(coordinates)

In [17]:
proteindata['CELF1']

[(16631, 16651),
 (13811, 13831),
 (11671, 11691),
 (11611, 11631),
 (11451, 11471),
 (11411, 11431),
 (11371, 11391),
 (11291, 11331),
 (11131, 11151),
 (11071, 11111),
 (10991, 11031),
 (10891, 10971),
 (10791, 10851),
 (10751, 10771),
 (10651, 10671),
 (10571, 10591),
 (10511, 10531),
 (10391, 10451),
 (10311, 10331),
 (10232, 10252),
 (9254, 9274),
 (8814, 8834),
 (11731, 11751),
 (11591, 11631),
 (11291, 11311),
 (11111, 11131),
 (11071, 11091),
 (11031, 11051),
 (10931, 10951),
 (10891, 10911),
 (10811, 10851),
 (10751, 10791),
 (10651, 10671),
 (10531, 10551),
 (10391, 10451),
 (10311, 10331)]

### Loading the deltaSHAPE reactivities for each replicate:

In [18]:
deltaSHAPE_1 = pd.read_csv("../../../Data/deltaSHAPE_confirmed_sites/deltaSHAPE_rep1.igv",\
                           sep="\t",\
                           header=0,
                           index_col=1,
                           names=["Chromosome","end","feature","deltaSHAPE"])
deltaSHAPE_2 = pd.read_csv("../../../Data/deltaSHAPE_confirmed_sites/deltaSHAPE_rep2.igv",\
                           sep="\t",\
                           header=0,
                           index_col=1,
                           names=["Chromosome","end","feature","deltaSHAPE"])

### Checking the number of differentially expressed nucleotides:

In [19]:
len(deltaSHAPE_1[deltaSHAPE_1.deltaSHAPE > 0].index)

461

In [20]:
len(deltaSHAPE_1[deltaSHAPE_1.deltaSHAPE < 0].index)

337

In [21]:
len(deltaSHAPE_2[deltaSHAPE_2.deltaSHAPE > 0].index)

511

In [22]:
len(deltaSHAPE_2[deltaSHAPE_2.deltaSHAPE < 0].index)

430

### Making the new DataFrame:

In [23]:
columns = ["nucleotide"]
nucleotide_positions = np.arange(1,len(sequence)+1)
samples = ["SHAPE_reactivity_ex_vivo_1",\
           "SHAPE_reactivity_ex_vivo_2",\
           "SHAPE_reactivity_in_cell_1",\
           "SHAPE_reactivity_in_cell_2",\
           "deltaSHAPE_rep1",\
           "deltaSHAPE_rep2",\
           "dStruct",\
           "dStruct_scaled"]
columns.extend(proteins)
columns.extend(samples)
table = pd.DataFrame(0,index=nucleotide_positions,columns=columns)

In [24]:
table.head()

,nucleotide,CELF1,FUS,HuR,PTBP1,RBFOX2,TARDBP,SHAPE_reactivity_ex_vivo_1,SHAPE_reactivity_ex_vivo_2,SHAPE_reactivity_in_cell_1,SHAPE_reactivity_in_cell_2,deltaSHAPE_rep1,deltaSHAPE_rep2,dStruct,dStruct_scaled
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### Adding the Xist sequence to the table:

In [25]:
table.nucleotide = list(sequence)

### Adding the RBP-binding sites to the table:

In [26]:
for protein in proteins:
    locations = proteindata[protein]
    for start,end in locations:
        table.loc[start:end+1,protein] = 1

### Adding the SHAPE reactivities from each replicate to the table:

### Check if the number of nucleotides in the data files is the same:
If not then information for some nucleotides may be missing in the final table.

In [27]:
assert len(table.index) == len(ex_vivo_1.index)
assert len(table.index) == len(ex_vivo_2.index)
assert len(table.index) == len(in_cell_1.index)
assert len(table.index) == len(in_cell_2.index)

In [28]:
table.SHAPE_reactivity_ex_vivo_1 = ex_vivo_1.loc[table.index,"SHAPE_reactivity"]
table.SHAPE_reactivity_ex_vivo_2 = ex_vivo_2.loc[table.index,"SHAPE_reactivity"]
table.SHAPE_reactivity_in_cell_1 = in_cell_1.loc[table.index,"SHAPE_reactivity"]
table.SHAPE_reactivity_in_cell_2 = in_cell_2.loc[table.index,"SHAPE_reactivity"]

In [29]:
table.head()

,nucleotide,CELF1,FUS,HuR,PTBP1,RBFOX2,TARDBP,SHAPE_reactivity_ex_vivo_1,SHAPE_reactivity_ex_vivo_2,SHAPE_reactivity_in_cell_1,SHAPE_reactivity_in_cell_2,deltaSHAPE_rep1,deltaSHAPE_rep2,dStruct,dStruct_scaled
1,C,0,0,0,0,0,0,-999.0,-999.0,-999.0,-999.0,0,0,0,0
2,G,0,0,0,0,0,0,-999.0,-999.0,-999.0,-999.0,0,0,0,0
3,G,0,0,0,0,0,0,-999.0,-999.0,-999.0,-999.0,0,0,0,0
4,C,0,0,0,0,0,0,-999.0,-999.0,-999.0,-999.0,0,0,0,0
5,T,0,0,0,0,0,0,-999.0,-999.0,-999.0,-999.0,0,0,0,0

### Adding the deltaSHAPE values:

In [30]:
positions = deltaSHAPE_1.index
table.loc[positions,"deltaSHAPE_rep1"] = deltaSHAPE_1.loc[positions,"deltaSHAPE"].values

In [31]:
positions = deltaSHAPE_2.index
table.loc[positions,"deltaSHAPE_rep2"] = deltaSHAPE_2.loc[positions,"deltaSHAPE"].values

In [32]:
table.head()

,nucleotide,CELF1,FUS,HuR,PTBP1,RBFOX2,TARDBP,SHAPE_reactivity_ex_vivo_1,SHAPE_reactivity_ex_vivo_2,SHAPE_reactivity_in_cell_1,SHAPE_reactivity_in_cell_2,deltaSHAPE_rep1,deltaSHAPE_rep2,dStruct,dStruct_scaled
1,C,0,0,0,0,0,0,-999.0,-999.0,-999.0,-999.0,0.0,0.0,0,0
2,G,0,0,0,0,0,0,-999.0,-999.0,-999.0,-999.0,0.0,0.0,0,0
3,G,0,0,0,0,0,0,-999.0,-999.0,-999.0,-999.0,0.0,0.0,0,0
4,C,0,0,0,0,0,0,-999.0,-999.0,-999.0,-999.0,0.0,0.0,0,0
5,T,0,0,0,0,0,0,-999.0,-999.0,-999.0,-999.0,0.0,0.0,0,0

### Adding the dStruct data:

In [33]:
table.dStruct = df.dStruct
table.dStruct_scaled = df.dStruct_scaled

### Some positions had no values. Replace with 0:

In [34]:
len(table[table.deltaSHAPE_rep2 < 0].index)

430

In [35]:
len(table[table.deltaSHAPE_rep2 > 0].index)

511

In [36]:
table.replace(np.nan,0,inplace=True)

### Merging everyting together:

In [37]:
table[diffBUMHMM.columns] = diffBUMHMM
table[diffBUMHMMnorm.columns] = diffBUMHMMnorm

In [38]:
table.tail()

,nucleotide,CELF1,FUS,HuR,PTBP1,RBFOX2,TARDBP,SHAPE_reactivity_ex_vivo_1,SHAPE_reactivity_ex_vivo_2,SHAPE_reactivity_in_cell_1,...,dStruct,dStruct_scaled,unmodified,ex_vivo,in_vivo,both,scaled_unmodified,scaled_ex_vivo,scaled_in_vivo,scaled_both
17914,T,0,0,0,0,0,0,-999.0,-999.0,-999.0,...,0,0,0.819621,0.085708,0.085708,0.008963,0.819621,0.085708,0.085708,0.008963
17915,T,0,0,0,0,0,0,-999.0,-999.0,-999.0,...,0,0,0.795446,0.096432,0.096432,0.011690,0.795446,0.096432,0.096432,0.011690
17916,G,0,0,0,0,0,0,-999.0,-999.0,-999.0,...,0,0,0.761379,0.111191,0.111191,0.016238,0.761379,0.111191,0.111191,0.016238
17917,A,0,0,0,0,0,0,-999.0,-999.0,-999.0,...,0,0,0.712398,0.131639,0.131639,0.024325,0.712398,0.131639,0.131639,0.024325
17918,A,0,0,0,0,0,0,-999.0,-999.0,-999.0,...,0,0,0.640000,0.160000,0.160000,0.040000,0.640000,0.160000,0.160000,0.040000

### Adding secondary structure information:

In [39]:
table[secstructure.columns] = secstructure

In [40]:
table.head()

,nucleotide,CELF1,FUS,HuR,PTBP1,RBFOX2,TARDBP,SHAPE_reactivity_ex_vivo_1,SHAPE_reactivity_ex_vivo_2,SHAPE_reactivity_in_cell_1,...,dStruct_scaled,unmodified,ex_vivo,in_vivo,both,scaled_unmodified,scaled_ex_vivo,scaled_in_vivo,scaled_both,base_paired_to
1,C,0,0,0,0,0,0,-999.0,-999.0,-999.0,...,0,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,0
2,G,0,0,0,0,0,0,-999.0,-999.0,-999.0,...,0,0.712398,0.131639,0.131639,0.024325,0.712398,0.131639,0.131639,0.024325,15
3,G,0,0,0,0,0,0,-999.0,-999.0,-999.0,...,0,0.761379,0.111191,0.111191,0.016238,0.761379,0.111191,0.111191,0.016238,14
4,C,0,0,0,0,0,0,-999.0,-999.0,-999.0,...,0,0.795446,0.096432,0.096432,0.011690,0.795446,0.096432,0.096432,0.011690,13
5,T,0,0,0,0,0,0,-999.0,-999.0,-999.0,...,0,0.819621,0.085708,0.085708,0.008963,0.819621,0.085708,0.085708,0.008963,12

### Writing output file:

In [41]:
table.to_csv("../../../Data/New_data_table_Xist.txt",sep="\t")

### How many positions do the first and second replicate of the Xist data have in common?

In [42]:
len(table[(table.deltaSHAPE_rep1 != 0) & (table.deltaSHAPE_rep2 != 0)].index)

190