In [1]:
import pandas as pd
import numpy as np
import os
import glob

In [2]:
#READING IN MAP FILE FOR XIST JUST TO TAKE ITS STRUCTURE, BUT WILL NOT ACTUALLY USE THE DATA

colnames=['nucleotide_number', 'SHAPE_reactivity', 'SE_reactivity', 'nucleotide_identity'] 
df = pd.read_csv("../../../Data/Map files Xist/XIST_exvivo_1M7_rep1.map", sep="\t",names=colnames, header=None,index_col=0)
df.head()

                   SHAPE_reactivity  SE_reactivity nucleotide_identity
nucleotide_number
1                            -999.0            0.0                   C
2                            -999.0            0.0                   G
3                            -999.0            0.0                   G
4                            -999.0            0.0                   C
5                            -999.0            0.0                   T

In [3]:
#REMOVE UNNECESSARY COLUMNS
df = df.drop(df[["SHAPE_reactivity","SE_reactivity"]],axis=1)

In [4]:
#Create empty columnS
df["DeltaSHAPE_ex_vivo"] = 0
df["DeltaSHAPE_in_cell"] = 0
#df["DeltaSHAPE"] = 0

In [5]:
df.head()

                  nucleotide_identity  DeltaSHAPE_ex_vivo  DeltaSHAPE_in_cell
nucleotide_number
1                                   C                   0                   0
2                                   G                   0                   0
3                                   G                   0                   0
4                                   C                   0                   0
5                                   T                   0                   0

In [6]:
#READING IN DELTASHAPE INFORMATION, FROM COMPARISONS OF REPLICATES EX VIVO 1 VS IN CELL 1 & EX VIVO 2 VS IN CELL 2  

deltashape = pd.read_csv('../../../Analysis/deltaSHAPE/XIST_exvivo_vs_invivo_reps1both_1M7.txt', sep="\t", header=0, index_col=0)
#invivo = pd.read_csv('../../Data/Map files Xist/XIST_incell_1M7.txt', sep="\t", header=0, index_col=0)


deltashape2 = pd.read_csv('../../../Analysis/deltaSHAPE/XIST_exvivo_vs_invivo_reps2both_IM7.txt', sep="\t", header=0, index_col=0)
#invivo = pd.read_csv('../../Data/Map files Xist/XIST_incell_1M7.txt', sep="\t", header=0, index_col=0)

In [7]:
deltashape2.head()

,Seq,DeltaSHAPE,Z-factor,Std_Score,Smoothed_Data1,Smoothed_Data2,Unsmoothed_Diff,Data1,Data2
Nuc,,,,,,,,,
179,A,-1.525417,0.526480,-1.928230,0.317628,1.843045,-0.808703,0.109179,0.917883
180,A,-1.403042,0.543571,-1.787718,0.199170,1.602212,-3.580023,0.437573,4.017596
181,G,-1.415818,0.525799,-1.802388,0.425973,1.841791,0.179601,0.050757,-0.128844
182,A,-1.232581,0.305541,-1.591995,0.295265,1.527846,-0.847031,0.789590,1.636621
183,T,-1.556549,0.442654,-1.963976,0.292537,1.849086,-3.030313,0.045448,3.075760

In [8]:
#ADD DETALSHAPE INFORMATION TO A NEW DATAFRAME OF RIGHT SIZE i.e. 17918 ROWS x 3 columns AND CALCULATE AVERAGE DELTASHAPE

df_ = pd.DataFrame(index=np.arange(17918), columns=['nucleotide', 'DeltaSHAPE_1','DeltaSHAPE_2'])
df_ = df_.fillna(0) # with 0s rather than NaNs
df_["DeltaSHAPE_1"].loc[deltashape.index] = deltashape["DeltaSHAPE"]
df_["DeltaSHAPE_2"].loc[deltashape2.index] = deltashape2["DeltaSHAPE"]

#ADD AN EXTRA COLUMN FOR CALCULATING AVERAGE OF DELTASHAPE
df_['average_deltaSHAPE'] = 0

#THE IMPORTANT RULE IS: IF ONLY ONE OF THE TWO FILES HAS DELTASHAPE VALUE FOR A GIVEN POSITION, THEN WE 
#DON'T TAKE THE AVERAGE BETWEEN 0 AND THAT VALUE. WE JUST REPORT THE SINGLE VALUE FROM THE ONLY FILE THAT 
#HAS DELTASHAPE INFORMATION FOR THAT NUCLEOTIDE.
for index,row in df_.iterrows():
    if row["DeltaSHAPE_1"] != 0 and row["DeltaSHAPE_2"] == 0:
         df_.loc[row.name,'average_deltaSHAPE'] = row["DeltaSHAPE_1"]
    elif row["DeltaSHAPE_1"] == 0 and row["DeltaSHAPE_2"] != 0:
        df_.loc[row.name,'average_deltaSHAPE'] = row["DeltaSHAPE_2"]
    elif row["DeltaSHAPE_1"] != 0 and row["DeltaSHAPE_2"] != 0:
        a = np.array([row['DeltaSHAPE_1'], row['DeltaSHAPE_2']])
        df_.loc[row.name,'average_deltaSHAPE'] = np.mean(a)

C:\Users\maran\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [9]:
#REMOVING UNNECESSARY COLUMNS FROM THE DATAFRAME CONTAINING THE AVERAGE DELTASHAPE
#MERGE THIS DATAFRAME WITH THE PREVIOUS DATAFRAME 

df.reset_index()

new_df = df.join(df_)

new_df = new_df.fillna(0)
new_df = new_df.drop(new_df[["nucleotide","DeltaSHAPE_1","DeltaSHAPE_2"]],axis=1)

In [10]:
new_df.head()

,nucleotide_identity,DeltaSHAPE_ex_vivo,DeltaSHAPE_in_cell,average_deltaSHAPE
nucleotide_number,,,,
1,C,0,0,0.0
2,G,0,0,0.0
3,G,0,0,0.0
4,C,0,0,0.0
5,T,0,0,0.0

In [11]:
# POPULATE COLUMNS DeltaSHAPE_ex_vivo AND DeltaSHAPE_in_cell BASED ON THE VALUE OF THE AVERAGE DELTASHAPE

for index,row in new_df.iterrows():
    if row["average_deltaSHAPE"] > 0:
        new_df.loc[row.name,'DeltaSHAPE_ex_vivo'] = 1
        new_df.loc[row.name,'DeltaSHAPE_in_cell'] = 0
        #print('positive')
    elif row["average_deltaSHAPE"] < 0:
        new_df.loc[row.name,'DeltaSHAPE_ex_vivo'] = 0
        new_df.loc[row.name,'DeltaSHAPE_in_cell'] = 1
        #print('negative')
    else:
        new_df.loc[row.name,'DeltaSHAPE_ex_vivo'] = 0
        new_df.loc[row.name,'DeltaSHAPE_in_cell'] = 0
        #print('neither')

In [12]:
new_df.head()

,nucleotide_identity,DeltaSHAPE_ex_vivo,DeltaSHAPE_in_cell,average_deltaSHAPE
nucleotide_number,,,,
1,C,0,0,0.0
2,G,0,0,0.0
3,G,0,0,0.0
4,C,0,0,0.0
5,T,0,0,0.0

In [30]:
new_df['deltaSHAPE_confirmed_rep1'] = 0

data = pd.read_csv('../../../deltaSHAPE_confirmed_sites/deltaSHAPE_rep1.igv',sep="\t",index_col=0)
data=data.reset_index()

for j in data.index:
    
    start = int(data.loc[j,"Start"])          
    end = int(data.loc[j,"End"])
    coordinates = np.arange(start,end+1)
    new_df.loc[coordinates,'deltaSHAPE_confirmed_rep1'] = 1
    

print(new_df)

                  nucleotide_identity  DeltaSHAPE_ex_vivo  DeltaSHAPE_in_cell  \
nucleotide_number
1                                   C                   0                   0
2                                   G                   0                   0
3                                   G                   0                   0
4                                   C                   0                   0
5                                   T                   0                   0
6                                   T                   0                   0
7                                   G                   0                   0
8                                   C                   0                   0
9                                   T                   0                   0
10                                  C                   0                   0
11                                  C                   0                   0
12                                  A                   0                   0
13                                  G                   0                   0
14                                  C                   0                   0
15                                  C                   0                   0
16                                  A                   0                   0
17                                  T                   0                   0
18                                  G                   0                   0
19                                  T                   0                   0
20                                  T                   0                   0
21                                  T                   0                   0
22                                  G                   0                   0
23                                  C                   0                   0
24                                  T                   0                   0
25                                  C                   0                   0
26                                  G                   0                   0
27                                  T                   0                   0
28                                  T                   0                   0
29                                  T                   0                   0
30                                  C                   0                   0
...                               ...                 ...                 ...
17889                               T                   0                   0
17890                               T                   0                   0
17891                               G                   0                   0
17892                               C                   0                   0
17893                               T                   0                   0
17894                               G                   0                   0
17895                               T                   0                   0
17896                               T                   0                   0
17897                               A                   0                   0
17898                               A                   0                   0
17899                               A                   0                   0
17900                               T                   0                   0
17901                               A                   0                   0
17902                               A                   0                   0
17903                               A                   0                   0
17904                               A                   0                   0
17905                               T                   0                   0
17906                               G                   0                   0
17907                               C                   0                   0
17908                               T                   0                   0
17909                               T                   0                   0
17910                               T                   0                   0
17911                               G                   0                   0
17912                               T                   0                   0
17913                               T                   0                   0
17914                               T                   0                   0
17915                               T                   0                   0
17916                               G                   0                   0
17917                               A                   0                   0
17918                               A                   0                   0

                   average_deltaSHAPE  deltaSHAPE_confirmed_rep1  \
nucleotide_number
1                                 0.0                          0
2                                 0.0                          0
3                                 0.0                          0
4                                 0.0                          0
5                                 0.0                          0
6                                 0.0                          0
7                                 0.0                          0
8                                 0.0                          0
9                                 0.0                          0
10                                0.0                          0
11                                0.0                          0
12                                0.0                          0
13                                0.0                          0
14                                0.0                          0
15                                0.0                          0
16                                0.0                          0
17                                0.0                          0
18                                0.0                          0
19                                0.0                          0
20                                0.0                          0
21                                0.0                          0
22                                0.0                          0
23                                0.0                          0
24                                0.0                          0
25                                0.0                          0
26                                0.0                          0
27                                0.0                          0
28                                0.0                          0
29                                0.0                          0
30                                0.0                          0
...                               ...                        ...
17889                             0.0                          0
17890                             0.0                          0
17891                             0.0                          0
17892                             0.0                          0
17893                             0.0                          0
17894                             0.0                          0
17895                             0.0                          0
17896                             0.0                          0
17897                             0.0                          0
17898                             0.0                          0
17899                             0.0                          0
17900                             0.0                          0
17901                             0.0                          0
17902                             0.0                          0
17903                             0.0                          0
17904                             0.0                          0
17905                             0.0                          0
17906                             0.0                          0
17907                             0.0                          0
17908                             0.0                          0
17909                             0.0                          0
17910                             0.0                          0
17911                             0.0                          0
17912                             0.0                          0
17913                             0.0                          0
17914                             0.0                          0
17915                             0.0                          0
17916                             0.0                          0
17917                             0.0                          0
17918                             0.0                          0

                   deltaSHAPE_confirmed_rep2
nucleotide_number
1                                          0
2                                          0
3                                          0
4                                          0
5                                          0
6                                          0
7                                          0
8                                          0
9                                          0
10                                         0
11                                         0
12                                         0
13                                         0
14                                         0
15                                         0
16                                         0
17                                         0
18                                         0
19                                         0
20                                         0
21                                         0
22                                         0
23                                         0
24                                         0
25                                         0
26                                         0
27                                         0
28                                         0
29                                         0
30                                         0
...                                      ...
17889                                      0
17890                                      0
17891                                      0
17892                                      0
17893                                      0
17894                                      0
17895                                      0
17896                                      0
17897                                      0
17898                                      0
17899                                      0
17900                                      0
17901                                      0
17902                                      0
17903                                      0
17904                                      0
17905                                      0
17906                                      0
17907                                      0
17908                                      0
17909                                      0
17910                                      0
17911                                      0
17912                                      0
17913                                      0
17914                                      0
17915                                      0
17916                                      0
17917                                      0
17918                                      0

[17918 rows x 6 columns]

In [31]:
new_df['deltaSHAPE_confirmed_rep2'] = 0

data = pd.read_csv('../../../deltaSHAPE_confirmed_sites/deltaSHAPE_rep2.igv',sep="\t",index_col=0)
data=data.reset_index()

for j in data.index:
    
    start = int(data.loc[j,"Start"])          
    end = int(data.loc[j,"End"])
    coordinates = np.arange(start,end+1)
    new_df.loc[coordinates,'deltaSHAPE_confirmed_rep2'] = 1
    

print(new_df)

                  nucleotide_identity  DeltaSHAPE_ex_vivo  DeltaSHAPE_in_cell  \
nucleotide_number
1                                   C                   0                   0
2                                   G                   0                   0
3                                   G                   0                   0
4                                   C                   0                   0
5                                   T                   0                   0
6                                   T                   0                   0
7                                   G                   0                   0
8                                   C                   0                   0
9                                   T                   0                   0
10                                  C                   0                   0
11                                  C                   0                   0
12                                  A                   0                   0
13                                  G                   0                   0
14                                  C                   0                   0
15                                  C                   0                   0
16                                  A                   0                   0
17                                  T                   0                   0
18                                  G                   0                   0
19                                  T                   0                   0
20                                  T                   0                   0
21                                  T                   0                   0
22                                  G                   0                   0
23                                  C                   0                   0
24                                  T                   0                   0
25                                  C                   0                   0
26                                  G                   0                   0
27                                  T                   0                   0
28                                  T                   0                   0
29                                  T                   0                   0
30                                  C                   0                   0
...                               ...                 ...                 ...
17889                               T                   0                   0
17890                               T                   0                   0
17891                               G                   0                   0
17892                               C                   0                   0
17893                               T                   0                   0
17894                               G                   0                   0
17895                               T                   0                   0
17896                               T                   0                   0
17897                               A                   0                   0
17898                               A                   0                   0
17899                               A                   0                   0
17900                               T                   0                   0
17901                               A                   0                   0
17902                               A                   0                   0
17903                               A                   0                   0
17904                               A                   0                   0
17905                               T                   0                   0
17906                               G                   0                   0
17907                               C                   0                   0
17908                               T                   0                   0
17909                               T                   0                   0
17910                               T                   0                   0
17911                               G                   0                   0
17912                               T                   0                   0
17913                               T                   0                   0
17914                               T                   0                   0
17915                               T                   0                   0
17916                               G                   0                   0
17917                               A                   0                   0
17918                               A                   0                   0

                   average_deltaSHAPE  deltaSHAPE_confirmed_rep1  \
nucleotide_number
1                                 0.0                          0
2                                 0.0                          0
3                                 0.0                          0
4                                 0.0                          0
5                                 0.0                          0
6                                 0.0                          0
7                                 0.0                          0
8                                 0.0                          0
9                                 0.0                          0
10                                0.0                          0
11                                0.0                          0
12                                0.0                          0
13                                0.0                          0
14                                0.0                          0
15                                0.0                          0
16                                0.0                          0
17                                0.0                          0
18                                0.0                          0
19                                0.0                          0
20                                0.0                          0
21                                0.0                          0
22                                0.0                          0
23                                0.0                          0
24                                0.0                          0
25                                0.0                          0
26                                0.0                          0
27                                0.0                          0
28                                0.0                          0
29                                0.0                          0
30                                0.0                          0
...                               ...                        ...
17889                             0.0                          0
17890                             0.0                          0
17891                             0.0                          0
17892                             0.0                          0
17893                             0.0                          0
17894                             0.0                          0
17895                             0.0                          0
17896                             0.0                          0
17897                             0.0                          0
17898                             0.0                          0
17899                             0.0                          0
17900                             0.0                          0
17901                             0.0                          0
17902                             0.0                          0
17903                             0.0                          0
17904                             0.0                          0
17905                             0.0                          0
17906                             0.0                          0
17907                             0.0                          0
17908                             0.0                          0
17909                             0.0                          0
17910                             0.0                          0
17911                             0.0                          0
17912                             0.0                          0
17913                             0.0                          0
17914                             0.0                          0
17915                             0.0                          0
17916                             0.0                          0
17917                             0.0                          0
17918                             0.0                          0

                   deltaSHAPE_confirmed_rep2
nucleotide_number
1                                          0
2                                          0
3                                          0
4                                          0
5                                          0
6                                          0
7                                          0
8                                          0
9                                          0
10                                         0
11                                         0
12                                         0
13                                         0
14                                         0
15                                         0
16                                         0
17                                         0
18                                         0
19                                         0
20                                         0
21                                         0
22                                         0
23                                         0
24                                         0
25                                         0
26                                         0
27                                         0
28                                         0
29                                         0
30                                         0
...                                      ...
17889                                      0
17890                                      0
17891                                      0
17892                                      0
17893                                      0
17894                                      0
17895                                      0
17896                                      0
17897                                      0
17898                                      0
17899                                      0
17900                                      0
17901                                      0
17902                                      0
17903                                      0
17904                                      0
17905                                      0
17906                                      0
17907                                      0
17908                                      0
17909                                      0
17910                                      0
17911                                      0
17912                                      0
17913                                      0
17914                                      0
17915                                      0
17916                                      0
17917                                      0
17918                                      0

[17918 rows x 6 columns]

In [32]:
df_1 = pd.read_csv("../../../Xist in vivo vs. ex vivo scaled by dc_diff_BUM_HMM_analysis.txt",sep="\t")
#Select columns
df_1 = df_1[['UM','MU']]

#Rename columns
df_1.columns = ['diffBUMHMM_ex_vivo', 'diffBUMHMM_in_cell']

In [33]:
new_df ["diffBUMHMM_in_cell"] = 0
new_df ['diffBUMHMM_ex_vivo'] = 0

new_df["diffBUMHMM_in_cell"].loc[df_1.index] = df_1["diffBUMHMM_in_cell"]
new_df['diffBUMHMM_ex_vivo'].loc[df_1.index] = df_1['diffBUMHMM_ex_vivo']

In [35]:
exvivoiffbumhmm = new_df[new_df.diffBUMHMM_ex_vivo > 0.9]
incelliffbumhmm = new_df[new_df.diffBUMHMM_in_cell > 0.9]

In [37]:
print(exvivoiffbumhmm['deltaSHAPE_confirmed_rep1'].sum())

print(incelliffbumhmm['deltaSHAPE_confirmed_rep2'].sum())

132
29

In [38]:
counter = 0
counter2 = 0
for index, row in new_df.iterrows():
    if row['deltaSHAPE_confirmed_rep1'] > 0.0:
        counter = counter+1    
    elif row['deltaSHAPE_confirmed_rep2'] > 0.0:
        counter2= counter2 +1
    else:
        continue
        
print("dSHAPE confirmed rep 1 %s" % counter)
print("dSHAPE confirmed rep 2  %s" % counter2)

dSHAPE confirmed rep 1 1066
dSHAPE confirmed rep 2  989