In [1]:
import sys
import glob
import pandas as pd
import numpy as np
from collections import defaultdict

### Opening and storing the Xist sequence:

In [2]:
sequencefile = open("../../../Reference_sequences/Xist.seq","r").readlines()
sequence = "".join([i.strip() for i in sequencefile])

In [3]:
sequence[:10]

'CGGCTTGCTC'

### Adding secondary structure information:

In [4]:
secstructure = pd.read_csv("../../../Xist_secondary_structure_info.txt",sep="\t",\
                          header=0,\
                          index_col=0,\
                          names=['nucleotide','base_paired_to'])

In [5]:
secstructure.head()

            base_paired_to
nucleotide
1                        0
2                       15
3                       14
4                       13
5                       12

### diffBUM_HMM data made by Toby on the 27th of May 2020:
Two datasets, one normalized by denatured, the other without normalization.

In [6]:
diffBUMHMMnorm = pd.read_csv("../../../Data/Xist_corrected_diffBUM_HMM_scaled_not_shifted_270520.txt",\
                         sep="\t",\
                         header=0,\
                         index_col=0,\
                         names=["nucleotide","scaled_unmodified","scaled_ex_vivo","scaled_in_vivo","scaled_both"])

diffBUMHMM = pd.read_csv("../../../Data/Xist_corrected_diffBUM_HMM_not_shifted_270520.txt",\
                         sep="\t",\
                         header=0,\
                         index_col=0,\
                         names=["nucleotide","unmodified","ex_vivo","in_vivo","both"])

In [7]:
diffBUMHMMnorm.head()

            scaled_unmodified  scaled_ex_vivo  scaled_in_vivo  scaled_both
nucleotide
1                 -999.000000     -999.000000     -999.000000  -999.000000
2                    0.712398        0.131639        0.131639     0.024325
3                    0.761379        0.111191        0.111191     0.016238
4                    0.795446        0.096432        0.096432     0.011690
5                    0.819621        0.085708        0.085708     0.008963

In [8]:
diffBUMHMM.head()

            unmodified     ex_vivo     in_vivo        both
nucleotide
1          -999.000000 -999.000000 -999.000000 -999.000000
2             0.712398    0.131639    0.131639    0.024325
3             0.761379    0.111191    0.111191    0.016238
4             0.795446    0.096432    0.096432    0.011690
5             0.819621    0.085708    0.085708    0.008963

### Loading the dStruct analysis results:

In [9]:
dStruct = pd.read_csv("../../../Data/Xist_dStruct_normal_vs_scaled_270520.txt",\
                        sep="\t",\
                        index_col=0,\
                        header=0)

In [10]:
dStruct.head()

            dStruct  dStruct_scaled
nucleotide
1                 0               0
2                 0               0
3                 0               0
4                 0               0
5                 0               0

### Loading the SHAPE .map files for each replicate:

In [11]:
ex_vivo_1 = pd.read_csv("../../../Data/Map_files_Xist/XIST_exvivo_1M7_rep1.map",\
                        sep="\t",\
                        index_col=0,\
                        header=None,\
                        names=["SHAPE_reactivity","Error","nucleotide"])
ex_vivo_2 = pd.read_csv("../../../Data/Map_files_Xist/XIST_exvivo_1M7_rep2.map",\
                        sep="\t",\
                        index_col=0,\
                        header=None,\
                        names=["SHAPE_reactivity","Error","nucleotide"])
in_cell_1 = pd.read_csv("../../../Data/Map_files_Xist/XIST_incell_1M7_rep1.map",\
                        sep="\t",\
                        index_col=0,\
                        header=None,\
                        names=["SHAPE_reactivity","Error","nucleotide"])
in_cell_2 = pd.read_csv("../../../Data/Map_files_Xist/XIST_incell_1M7_rep2.map",\
                        sep="\t",\
                        index_col=0,\
                        header=None,\
                        names=["SHAPE_reactivity","Error","nucleotide"])

In [12]:
ex_vivo_1.head()

   SHAPE_reactivity  Error nucleotide
1            -999.0    0.0          C
2            -999.0    0.0          G
3            -999.0    0.0          G
4            -999.0    0.0          C
5            -999.0    0.0          T

### Loading the RBP binding sites:

In [13]:
proteins = ["CELF1","FUS","HuR","PTBP1","RBFOX2","TARDBP"]

In [14]:
directory = "../../../Data/Bed_files_Xist/CLIPdb_transcript_coords"
proteindata = defaultdict(list)
for protein in proteins:
    ### First grabbing all the files with protein binding sites:
    files = glob.glob("%s/%s*" % (directory,protein))
    ### Now extracting the start and end positions and storing these
    ### in a list of tuples:
    for i in files:
        data = pd.read_csv(i,\
                           sep="\t",\
                           header=None,\
                           index_col=None)
        ### start is column 1 and end is column 2
        start = data[data.columns[1]].values
        end = data[data.columns[2]].values
        coordinates = (list(zip(start,end)))
        proteindata[protein].extend(coordinates)

In [15]:
proteindata['CELF1']

[(11731, 11751),
 (11591, 11631),
 (11291, 11311),
 (11111, 11131),
 (11071, 11091),
 (11031, 11051),
 (10931, 10951),
 (10891, 10911),
 (10811, 10851),
 (10751, 10791),
 (10651, 10671),
 (10531, 10551),
 (10391, 10451),
 (10311, 10331),
 (16631, 16651),
 (13811, 13831),
 (11671, 11691),
 (11611, 11631),
 (11451, 11471),
 (11411, 11431),
 (11371, 11391),
 (11291, 11331),
 (11131, 11151),
 (11071, 11111),
 (10991, 11031),
 (10891, 10971),
 (10791, 10851),
 (10751, 10771),
 (10651, 10671),
 (10571, 10591),
 (10511, 10531),
 (10391, 10451),
 (10311, 10331),
 (10232, 10252),
 (9254, 9274),
 (8814, 8834)]

### Loading the deltaSHAPE reactivities for each replicate:

In [16]:
deltaSHAPE_1 = pd.read_csv("../../../Data/deltaSHAPE_confirmed_sites/deltaSHAPE_rep1.igv",\
                           sep="\t",\
                           header=0,
                           index_col=1,
                           names=["Chromosome","end","feature","deltaSHAPE"])
deltaSHAPE_2 = pd.read_csv("../../../Data/deltaSHAPE_confirmed_sites/deltaSHAPE_rep2.igv",\
                           sep="\t",\
                           header=0,
                           index_col=1,
                           names=["Chromosome","end","feature","deltaSHAPE"])

### Checking the number of differentially expressed nucleotides:

In [17]:
len(deltaSHAPE_1[deltaSHAPE_1.deltaSHAPE > 0].index)

461

In [18]:
len(deltaSHAPE_1[deltaSHAPE_1.deltaSHAPE < 0].index)

337

In [19]:
len(deltaSHAPE_2[deltaSHAPE_2.deltaSHAPE > 0].index)

511

In [20]:
len(deltaSHAPE_2[deltaSHAPE_2.deltaSHAPE < 0].index)

430

### Making the new DataFrame:

In [21]:
columns = ["nucleotide"]
nucleotide_positions = np.arange(1,len(sequence)+1)
samples = ["SHAPE_reactivity_ex_vivo_1",\
           "SHAPE_reactivity_ex_vivo_2",\
           "SHAPE_reactivity_in_cell_1",\
           "SHAPE_reactivity_in_cell_2",\
           "deltaSHAPE_rep1",\
           "deltaSHAPE_rep2",\
           "dStruct",\
           "dStruct_scaled"]
columns.extend(proteins)
columns.extend(samples)
table = pd.DataFrame(0,index=nucleotide_positions,columns=columns)

In [22]:
table.head()

,nucleotide,CELF1,FUS,HuR,PTBP1,RBFOX2,TARDBP,SHAPE_reactivity_ex_vivo_1,SHAPE_reactivity_ex_vivo_2,SHAPE_reactivity_in_cell_1,SHAPE_reactivity_in_cell_2,deltaSHAPE_rep1,deltaSHAPE_rep2,dStruct,dStruct_scaled
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### Adding the Xist sequence to the table:

In [23]:
table.nucleotide = list(sequence)

### Adding the RBP-binding sites to the table:

In [24]:
for protein in proteins:
    locations = proteindata[protein]
    for start,end in locations:
        table.loc[start:end+1,protein] = 1

### Adding the SHAPE reactivities from each replicate to the table:

### Check if the number of nucleotides in the data files is the same:
If not then information for some nucleotides may be missing in the final table.

In [25]:
assert len(table.index) == len(ex_vivo_1.index)
assert len(table.index) == len(ex_vivo_2.index)
assert len(table.index) == len(in_cell_1.index)
assert len(table.index) == len(in_cell_2.index)

In [26]:
table.SHAPE_reactivity_ex_vivo_1 = ex_vivo_1.loc[table.index,"SHAPE_reactivity"]
table.SHAPE_reactivity_ex_vivo_2 = ex_vivo_2.loc[table.index,"SHAPE_reactivity"]
table.SHAPE_reactivity_in_cell_1 = in_cell_1.loc[table.index,"SHAPE_reactivity"]
table.SHAPE_reactivity_in_cell_2 = in_cell_2.loc[table.index,"SHAPE_reactivity"]

In [27]:
table.head()

,nucleotide,CELF1,FUS,HuR,PTBP1,RBFOX2,TARDBP,SHAPE_reactivity_ex_vivo_1,SHAPE_reactivity_ex_vivo_2,SHAPE_reactivity_in_cell_1,SHAPE_reactivity_in_cell_2,deltaSHAPE_rep1,deltaSHAPE_rep2,dStruct,dStruct_scaled
1,C,0,0,0,0,0,0,-999.0,-999.0,-999.0,-999.0,0,0,0,0
2,G,0,0,0,0,0,0,-999.0,-999.0,-999.0,-999.0,0,0,0,0
3,G,0,0,0,0,0,0,-999.0,-999.0,-999.0,-999.0,0,0,0,0
4,C,0,0,0,0,0,0,-999.0,-999.0,-999.0,-999.0,0,0,0,0
5,T,0,0,0,0,0,0,-999.0,-999.0,-999.0,-999.0,0,0,0,0

### Adding the deltaSHAPE values:

In [28]:
positions = deltaSHAPE_1.index
table.loc[positions,"deltaSHAPE_rep1"] = deltaSHAPE_1.loc[positions,"deltaSHAPE"].values

In [29]:
positions = deltaSHAPE_2.index
table.loc[positions,"deltaSHAPE_rep2"] = deltaSHAPE_2.loc[positions,"deltaSHAPE"].values

In [30]:
table.head()

,nucleotide,CELF1,FUS,HuR,PTBP1,RBFOX2,TARDBP,SHAPE_reactivity_ex_vivo_1,SHAPE_reactivity_ex_vivo_2,SHAPE_reactivity_in_cell_1,SHAPE_reactivity_in_cell_2,deltaSHAPE_rep1,deltaSHAPE_rep2,dStruct,dStruct_scaled
1,C,0,0,0,0,0,0,-999.0,-999.0,-999.0,-999.0,0.0,0.0,0,0
2,G,0,0,0,0,0,0,-999.0,-999.0,-999.0,-999.0,0.0,0.0,0,0
3,G,0,0,0,0,0,0,-999.0,-999.0,-999.0,-999.0,0.0,0.0,0,0
4,C,0,0,0,0,0,0,-999.0,-999.0,-999.0,-999.0,0.0,0.0,0,0
5,T,0,0,0,0,0,0,-999.0,-999.0,-999.0,-999.0,0.0,0.0,0,0

### Adding the dStruct data:

In [31]:
table.dStruct = dStruct.dStruct
table.dStruct_scaled = dStruct.dStruct_scaled

### Some positions had no values. Replace with 0:

In [32]:
len(table[table.deltaSHAPE_rep2 < 0].index)

430

In [33]:
len(table[table.deltaSHAPE_rep2 > 0].index)

511

In [34]:
table.replace(np.nan,0,inplace=True)

### Merging everyting together:

In [46]:
table[diffBUMHMM.columns] = diffBUMHMM
table[diffBUMHMMnorm.columns] = diffBUMHMMnorm

In [47]:
table.tail()

,nucleotide,CELF1,FUS,HuR,PTBP1,RBFOX2,TARDBP,SHAPE_reactivity_ex_vivo_1,SHAPE_reactivity_ex_vivo_2,SHAPE_reactivity_in_cell_1,...,dStruct,dStruct_scaled,unmodified,ex_vivo,in_vivo,both,scaled_unmodified,scaled_ex_vivo,scaled_in_vivo,scaled_both
17914,T,0,0,0,0,0,0,-999.0,-999.0,-999.0,...,0,0,0.819621,0.085708,0.085708,0.008963,0.819621,0.085708,0.085708,0.008963
17915,T,0,0,0,0,0,0,-999.0,-999.0,-999.0,...,0,0,0.795446,0.096432,0.096432,0.011690,0.795446,0.096432,0.096432,0.011690
17916,G,0,0,0,0,0,0,-999.0,-999.0,-999.0,...,0,0,0.761379,0.111191,0.111191,0.016238,0.761379,0.111191,0.111191,0.016238
17917,A,0,0,0,0,0,0,-999.0,-999.0,-999.0,...,0,0,0.712398,0.131639,0.131639,0.024325,0.712398,0.131639,0.131639,0.024325
17918,A,0,0,0,0,0,0,-999.0,-999.0,-999.0,...,0,0,0.640000,0.160000,0.160000,0.040000,0.640000,0.160000,0.160000,0.040000

### Adding secondary structure information:

In [48]:
table[secstructure.columns] = secstructure

In [50]:
table.head()

,nucleotide,CELF1,FUS,HuR,PTBP1,RBFOX2,TARDBP,SHAPE_reactivity_ex_vivo_1,SHAPE_reactivity_ex_vivo_2,SHAPE_reactivity_in_cell_1,...,dStruct_scaled,unmodified,ex_vivo,in_vivo,both,scaled_unmodified,scaled_ex_vivo,scaled_in_vivo,scaled_both,base_paired_to
1,C,0,0,0,0,0,0,-999.0,-999.0,-999.0,...,0,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,0
2,G,0,0,0,0,0,0,-999.0,-999.0,-999.0,...,0,0.712398,0.131639,0.131639,0.024325,0.712398,0.131639,0.131639,0.024325,15
3,G,0,0,0,0,0,0,-999.0,-999.0,-999.0,...,0,0.761379,0.111191,0.111191,0.016238,0.761379,0.111191,0.111191,0.016238,14
4,C,0,0,0,0,0,0,-999.0,-999.0,-999.0,...,0,0.795446,0.096432,0.096432,0.011690,0.795446,0.096432,0.096432,0.011690,13
5,T,0,0,0,0,0,0,-999.0,-999.0,-999.0,...,0,0.819621,0.085708,0.085708,0.008963,0.819621,0.085708,0.085708,0.008963,12

### Writing output file:

In [51]:
table.to_csv("../../../New_data_table.txt",sep="\t")

### How many positions do the first and second replicate of the Xist data have in common?

In [52]:
len(table[(table.deltaSHAPE_rep1 != 0) & (table.deltaSHAPE_rep2 != 0)].index)

190