In [1]:
import pandas as pd
import numpy as np
import os
import glob

In [2]:
#READING IN MAP FILE FOR XIST JUST TO TAKE ITS STRUCTURE, BUT WILL NOT ACTUALLY USE THE DATA



colnames=['nucleotide_number', 'SHAPE_reactivity', 'SE_reactivity', 'nucleotide_identity'] 
df = pd.read_csv("../../../Data/Map files Xist/XIST_exvivo_1M7_rep1.map", sep="\t",names=colnames, header=None,index_col=0)
df.head()

                   SHAPE_reactivity  SE_reactivity nucleotide_identity
nucleotide_number
1                            -999.0            0.0                   C
2                            -999.0            0.0                   G
3                            -999.0            0.0                   G
4                            -999.0            0.0                   C
5                            -999.0            0.0                   T

In [3]:
#REMOVE UNNECESSARY COLUMNS
df = df.drop(df[["SHAPE_reactivity","SE_reactivity"]],axis=1)

In [4]:
#Create empty columnS
df["DeltaSHAPE_ex_vivo"] = 0
df["DeltaSHAPE_in_cell"] = 0
#df["DeltaSHAPE"] = 0

In [5]:
df.head()

                  nucleotide_identity  DeltaSHAPE_ex_vivo  DeltaSHAPE_in_cell
nucleotide_number
1                                   C                   0                   0
2                                   G                   0                   0
3                                   G                   0                   0
4                                   C                   0                   0
5                                   T                   0                   0

In [6]:
#READING IN DELTASHAPE INFORMATION, FROM COMPARISONS OF REPLICATES EX VIVO 1 VS IN CELL 1 & EX VIVO 2 VS IN CELL 2  

deltashape = pd.read_csv('../../../Analysis/deltaSHAPE/XIST_exvivo_vs_invivo_reps1both_1M7.txt', sep="\t", header=0, index_col=0)
#invivo = pd.read_csv('../../Data/Map files Xist/XIST_incell_1M7.txt', sep="\t", header=0, index_col=0)


deltashape2 = pd.read_csv('../../../Analysis/deltaSHAPE/XIST_exvivo_vs_invivo_reps2both_IM7.txt', sep="\t", header=0, index_col=0)
#invivo = pd.read_csv('../../Data/Map files Xist/XIST_incell_1M7.txt', sep="\t", header=0, index_col=0)

In [7]:
deltashape2.head()

,Seq,DeltaSHAPE,Z-factor,Std_Score,Smoothed_Data1,Smoothed_Data2,Unsmoothed_Diff,Data1,Data2
Nuc,,,,,,,,,
179,A,-1.525417,0.526480,-1.928230,0.317628,1.843045,-0.808703,0.109179,0.917883
180,A,-1.403042,0.543571,-1.787718,0.199170,1.602212,-3.580023,0.437573,4.017596
181,G,-1.415818,0.525799,-1.802388,0.425973,1.841791,0.179601,0.050757,-0.128844
182,A,-1.232581,0.305541,-1.591995,0.295265,1.527846,-0.847031,0.789590,1.636621
183,T,-1.556549,0.442654,-1.963976,0.292537,1.849086,-3.030313,0.045448,3.075760

In [8]:
#ADD DETALSHAPE INFORMATION TO A NEW DATAFRAME OF RIGHT SIZE i.e. 17918 ROWS x 3 columns AND CALCULATE AVERAGE DELTASHAPE

df_ = pd.DataFrame(index=np.arange(17918), columns=['nucleotide', 'DeltaSHAPE_1','DeltaSHAPE_2'])
df_ = df_.fillna(0) # with 0s rather than NaNs
df_["DeltaSHAPE_1"].loc[deltashape.index] = deltashape["DeltaSHAPE"]
df_["DeltaSHAPE_2"].loc[deltashape2.index] = deltashape2["DeltaSHAPE"]

#ADD AN EXTRA COLUMN FOR CALCULATING AVERAGE OF DELTASHAPE
df_['average_deltaSHAPE'] = 0

#THE IMPORTANT RULE IS: IF ONLY ONE OF THE TWO FILES HAS DELTASHAPE VALUE FOR A GIVEN POSITION, THEN WE 
#DON'T TAKE THE AVERAGE BETWEEN 0 AND THAT VALUE. WE JUST REPORT THE SINGLE VALUE FROM THE ONLY FILE THAT 
#HAS DELTASHAPE INFORMATION FOR THAT NUCLEOTIDE.
for index,row in df_.iterrows():
    if row["DeltaSHAPE_1"] != 0 and row["DeltaSHAPE_2"] == 0:
         df_.loc[row.name,'average_deltaSHAPE'] = row["DeltaSHAPE_1"]
    elif row["DeltaSHAPE_1"] == 0 and row["DeltaSHAPE_2"] != 0:
        df_.loc[row.name,'average_deltaSHAPE'] = row["DeltaSHAPE_2"]
    elif row["DeltaSHAPE_1"] != 0 and row["DeltaSHAPE_2"] != 0:
        a = np.array([row['DeltaSHAPE_1'], row['DeltaSHAPE_2']])
        df_.loc[row.name,'average_deltaSHAPE'] = np.mean(a)

C:\Users\maran\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [9]:
#REMOVING UNNECESSARY COLUMNS FROM THE DATAFRAME CONTAINING THE AVERAGE DELTASHAPE
#MERGE THIS DATAFRAME WITH THE PREVIOUS DATAFRAME 

df.reset_index()

new_df = df.join(df_)

new_df = new_df.fillna(0)
new_df = new_df.drop(new_df[["nucleotide","DeltaSHAPE_1","DeltaSHAPE_2"]],axis=1)

In [10]:
new_df.head()

,nucleotide_identity,DeltaSHAPE_ex_vivo,DeltaSHAPE_in_cell,average_deltaSHAPE
nucleotide_number,,,,
1,C,0,0,0.0
2,G,0,0,0.0
3,G,0,0,0.0
4,C,0,0,0.0
5,T,0,0,0.0

In [11]:
# POPULATE COLUMNS DeltaSHAPE_ex_vivo AND DeltaSHAPE_in_cell BASED ON THE VALUE OF THE AVERAGE DELTASHAPE

for index,row in new_df.iterrows():
    if row["average_deltaSHAPE"] > 0:
        new_df.loc[row.name,'DeltaSHAPE_ex_vivo'] = 1
        new_df.loc[row.name,'DeltaSHAPE_in_cell'] = 0
        #print('positive')
    elif row["average_deltaSHAPE"] < 0:
        new_df.loc[row.name,'DeltaSHAPE_ex_vivo'] = 0
        new_df.loc[row.name,'DeltaSHAPE_in_cell'] = 1
        #print('negative')
    else:
        new_df.loc[row.name,'DeltaSHAPE_ex_vivo'] = 0
        new_df.loc[row.name,'DeltaSHAPE_in_cell'] = 0
        #print('neither')

In [12]:
new_df.head()

,nucleotide_identity,DeltaSHAPE_ex_vivo,DeltaSHAPE_in_cell,average_deltaSHAPE
nucleotide_number,,,,
1,C,0,0,0.0
2,G,0,0,0.0
3,G,0,0,0.0
4,C,0,0,0.0
5,T,0,0,0.0

# RELEVANT PART OF JUPYTER NOTEBOOK STARTS HERE

In [13]:
new_df['deltaSHAPE_confirmed_rep1'] = 0

data = pd.read_csv('../../../deltaSHAPE_confirmed_sites/deltaSHAPE_rep1.igv',sep="\t",index_col=0)
data=data.reset_index()

for j in data.index:
    
    start = int(data.loc[j,"Start"])          
    end = int(data.loc[j,"End"])
    coordinates = np.arange(start,end+1)
    new_df.loc[coordinates,'deltaSHAPE_confirmed_rep1'] = 1
    

print(new_df)

                  nucleotide_identity  DeltaSHAPE_ex_vivo  DeltaSHAPE_in_cell  \
nucleotide_number
1                                   C                   0                   0
2                                   G                   0                   0
3                                   G                   0                   0
4                                   C                   0                   0
5                                   T                   0                   0
6                                   T                   0                   0
7                                   G                   0                   0
8                                   C                   0                   0
9                                   T                   0                   0
10                                  C                   0                   0
11                                  C                   0                   0
12                                  A                   0                   0
13                                  G                   0                   0
14                                  C                   0                   0
15                                  C                   0                   0
16                                  A                   0                   0
17                                  T                   0                   0
18                                  G                   0                   0
19                                  T                   0                   0
20                                  T                   0                   0
21                                  T                   0                   0
22                                  G                   0                   0
23                                  C                   0                   0
24                                  T                   0                   0
25                                  C                   0                   0
26                                  G                   0                   0
27                                  T                   0                   0
28                                  T                   0                   0
29                                  T                   0                   0
30                                  C                   0                   0
...                               ...                 ...                 ...
17889                               T                   0                   0
17890                               T                   0                   0
17891                               G                   0                   0
17892                               C                   0                   0
17893                               T                   0                   0
17894                               G                   0                   0
17895                               T                   0                   0
17896                               T                   0                   0
17897                               A                   0                   0
17898                               A                   0                   0
17899                               A                   0                   0
17900                               T                   0                   0
17901                               A                   0                   0
17902                               A                   0                   0
17903                               A                   0                   0
17904                               A                   0                   0
17905                               T                   0                   0
17906                               G                   0                   0
17907                               C                   0                   0
17908                               T                   0                   0
17909                               T                   0                   0
17910                               T                   0                   0
17911                               G                   0                   0
17912                               T                   0                   0
17913                               T                   0                   0
17914                               T                   0                   0
17915                               T                   0                   0
17916                               G                   0                   0
17917                               A                   0                   0
17918                               A                   0                   0

                   average_deltaSHAPE  deltaSHAPE_confirmed_rep1
nucleotide_number
1                                 0.0                          0
2                                 0.0                          0
3                                 0.0                          0
4                                 0.0                          0
5                                 0.0                          0
6                                 0.0                          0
7                                 0.0                          0
8                                 0.0                          0
9                                 0.0                          0
10                                0.0                          0
11                                0.0                          0
12                                0.0                          0
13                                0.0                          0
14                                0.0                          0
15                                0.0                          0
16                                0.0                          0
17                                0.0                          0
18                                0.0                          0
19                                0.0                          0
20                                0.0                          0
21                                0.0                          0
22                                0.0                          0
23                                0.0                          0
24                                0.0                          0
25                                0.0                          0
26                                0.0                          0
27                                0.0                          0
28                                0.0                          0
29                                0.0                          0
30                                0.0                          0
...                               ...                        ...
17889                             0.0                          0
17890                             0.0                          0
17891                             0.0                          0
17892                             0.0                          0
17893                             0.0                          0
17894                             0.0                          0
17895                             0.0                          0
17896                             0.0                          0
17897                             0.0                          0
17898                             0.0                          0
17899                             0.0                          0
17900                             0.0                          0
17901                             0.0                          0
17902                             0.0                          0
17903                             0.0                          0
17904                             0.0                          0
17905                             0.0                          0
17906                             0.0                          0
17907                             0.0                          0
17908                             0.0                          0
17909                             0.0                          0
17910                             0.0                          0
17911                             0.0                          0
17912                             0.0                          0
17913                             0.0                          0
17914                             0.0                          0
17915                             0.0                          0
17916                             0.0                          0
17917                             0.0                          0
17918                             0.0                          0

[17918 rows x 5 columns]

In [14]:
new_df['deltaSHAPE_confirmed_rep2'] = 0

data = pd.read_csv('../../../deltaSHAPE_confirmed_sites/deltaSHAPE_rep2.igv',sep="\t",index_col=0)
data=data.reset_index()

for j in data.index:
    
    start = int(data.loc[j,"Start"])          
    end = int(data.loc[j,"End"])
    coordinates = np.arange(start,end+1)
    new_df.loc[coordinates,'deltaSHAPE_confirmed_rep2'] = 1
    

print(new_df)

                  nucleotide_identity  DeltaSHAPE_ex_vivo  DeltaSHAPE_in_cell  \
nucleotide_number
1                                   C                   0                   0
2                                   G                   0                   0
3                                   G                   0                   0
4                                   C                   0                   0
5                                   T                   0                   0
6                                   T                   0                   0
7                                   G                   0                   0
8                                   C                   0                   0
9                                   T                   0                   0
10                                  C                   0                   0
11                                  C                   0                   0
12                                  A                   0                   0
13                                  G                   0                   0
14                                  C                   0                   0
15                                  C                   0                   0
16                                  A                   0                   0
17                                  T                   0                   0
18                                  G                   0                   0
19                                  T                   0                   0
20                                  T                   0                   0
21                                  T                   0                   0
22                                  G                   0                   0
23                                  C                   0                   0
24                                  T                   0                   0
25                                  C                   0                   0
26                                  G                   0                   0
27                                  T                   0                   0
28                                  T                   0                   0
29                                  T                   0                   0
30                                  C                   0                   0
...                               ...                 ...                 ...
17889                               T                   0                   0
17890                               T                   0                   0
17891                               G                   0                   0
17892                               C                   0                   0
17893                               T                   0                   0
17894                               G                   0                   0
17895                               T                   0                   0
17896                               T                   0                   0
17897                               A                   0                   0
17898                               A                   0                   0
17899                               A                   0                   0
17900                               T                   0                   0
17901                               A                   0                   0
17902                               A                   0                   0
17903                               A                   0                   0
17904                               A                   0                   0
17905                               T                   0                   0
17906                               G                   0                   0
17907                               C                   0                   0
17908                               T                   0                   0
17909                               T                   0                   0
17910                               T                   0                   0
17911                               G                   0                   0
17912                               T                   0                   0
17913                               T                   0                   0
17914                               T                   0                   0
17915                               T                   0                   0
17916                               G                   0                   0
17917                               A                   0                   0
17918                               A                   0                   0

                   average_deltaSHAPE  deltaSHAPE_confirmed_rep1  \
nucleotide_number
1                                 0.0                          0
2                                 0.0                          0
3                                 0.0                          0
4                                 0.0                          0
5                                 0.0                          0
6                                 0.0                          0
7                                 0.0                          0
8                                 0.0                          0
9                                 0.0                          0
10                                0.0                          0
11                                0.0                          0
12                                0.0                          0
13                                0.0                          0
14                                0.0                          0
15                                0.0                          0
16                                0.0                          0
17                                0.0                          0
18                                0.0                          0
19                                0.0                          0
20                                0.0                          0
21                                0.0                          0
22                                0.0                          0
23                                0.0                          0
24                                0.0                          0
25                                0.0                          0
26                                0.0                          0
27                                0.0                          0
28                                0.0                          0
29                                0.0                          0
30                                0.0                          0
...                               ...                        ...
17889                             0.0                          0
17890                             0.0                          0
17891                             0.0                          0
17892                             0.0                          0
17893                             0.0                          0
17894                             0.0                          0
17895                             0.0                          0
17896                             0.0                          0
17897                             0.0                          0
17898                             0.0                          0
17899                             0.0                          0
17900                             0.0                          0
17901                             0.0                          0
17902                             0.0                          0
17903                             0.0                          0
17904                             0.0                          0
17905                             0.0                          0
17906                             0.0                          0
17907                             0.0                          0
17908                             0.0                          0
17909                             0.0                          0
17910                             0.0                          0
17911                             0.0                          0
17912                             0.0                          0
17913                             0.0                          0
17914                             0.0                          0
17915                             0.0                          0
17916                             0.0                          0
17917                             0.0                          0
17918                             0.0                          0

                   deltaSHAPE_confirmed_rep2
nucleotide_number
1                                          0
2                                          0
3                                          0
4                                          0
5                                          0
6                                          0
7                                          0
8                                          0
9                                          0
10                                         0
11                                         0
12                                         0
13                                         0
14                                         0
15                                         0
16                                         0
17                                         0
18                                         0
19                                         0
20                                         0
21                                         0
22                                         0
23                                         0
24                                         0
25                                         0
26                                         0
27                                         0
28                                         0
29                                         0
30                                         0
...                                      ...
17889                                      0
17890                                      0
17891                                      0
17892                                      0
17893                                      0
17894                                      0
17895                                      0
17896                                      0
17897                                      0
17898                                      0
17899                                      0
17900                                      0
17901                                      0
17902                                      0
17903                                      0
17904                                      0
17905                                      0
17906                                      0
17907                                      0
17908                                      0
17909                                      0
17910                                      0
17911                                      0
17912                                      0
17913                                      0
17914                                      0
17915                                      0
17916                                      0
17917                                      0
17918                                      0

[17918 rows x 6 columns]

In [15]:
df_1 = pd.read_csv("../../../Xist in vivo vs. ex vivo scaled by dc_diff_BUM_HMM_analysis.txt",sep="\t")
#Select columns
df_1 = df_1[['UM','MU']]

#Rename columns
df_1.columns = ['diffBUMHMM_ex_vivo', 'diffBUMHMM_in_cell']

In [16]:
new_df ["diffBUMHMM_in_cell"] = 0
new_df ['diffBUMHMM_ex_vivo'] = 0

new_df["diffBUMHMM_in_cell"].loc[df_1.index] = df_1["diffBUMHMM_in_cell"]
new_df['diffBUMHMM_ex_vivo'].loc[df_1.index] = df_1['diffBUMHMM_ex_vivo']

In [17]:
print(new_df)

                  nucleotide_identity  DeltaSHAPE_ex_vivo  DeltaSHAPE_in_cell  \
nucleotide_number
1                                   C                   0                   0
2                                   G                   0                   0
3                                   G                   0                   0
4                                   C                   0                   0
5                                   T                   0                   0
6                                   T                   0                   0
7                                   G                   0                   0
8                                   C                   0                   0
9                                   T                   0                   0
10                                  C                   0                   0
11                                  C                   0                   0
12                                  A                   0                   0
13                                  G                   0                   0
14                                  C                   0                   0
15                                  C                   0                   0
16                                  A                   0                   0
17                                  T                   0                   0
18                                  G                   0                   0
19                                  T                   0                   0
20                                  T                   0                   0
21                                  T                   0                   0
22                                  G                   0                   0
23                                  C                   0                   0
24                                  T                   0                   0
25                                  C                   0                   0
26                                  G                   0                   0
27                                  T                   0                   0
28                                  T                   0                   0
29                                  T                   0                   0
30                                  C                   0                   0
...                               ...                 ...                 ...
17889                               T                   0                   0
17890                               T                   0                   0
17891                               G                   0                   0
17892                               C                   0                   0
17893                               T                   0                   0
17894                               G                   0                   0
17895                               T                   0                   0
17896                               T                   0                   0
17897                               A                   0                   0
17898                               A                   0                   0
17899                               A                   0                   0
17900                               T                   0                   0
17901                               A                   0                   0
17902                               A                   0                   0
17903                               A                   0                   0
17904                               A                   0                   0
17905                               T                   0                   0
17906                               G                   0                   0
17907                               C                   0                   0
17908                               T                   0                   0
17909                               T                   0                   0
17910                               T                   0                   0
17911                               G                   0                   0
17912                               T                   0                   0
17913                               T                   0                   0
17914                               T                   0                   0
17915                               T                   0                   0
17916                               G                   0                   0
17917                               A                   0                   0
17918                               A                   0                   0

                   average_deltaSHAPE  deltaSHAPE_confirmed_rep1  \
nucleotide_number
1                                 0.0                          0
2                                 0.0                          0
3                                 0.0                          0
4                                 0.0                          0
5                                 0.0                          0
6                                 0.0                          0
7                                 0.0                          0
8                                 0.0                          0
9                                 0.0                          0
10                                0.0                          0
11                                0.0                          0
12                                0.0                          0
13                                0.0                          0
14                                0.0                          0
15                                0.0                          0
16                                0.0                          0
17                                0.0                          0
18                                0.0                          0
19                                0.0                          0
20                                0.0                          0
21                                0.0                          0
22                                0.0                          0
23                                0.0                          0
24                                0.0                          0
25                                0.0                          0
26                                0.0                          0
27                                0.0                          0
28                                0.0                          0
29                                0.0                          0
30                                0.0                          0
...                               ...                        ...
17889                             0.0                          0
17890                             0.0                          0
17891                             0.0                          0
17892                             0.0                          0
17893                             0.0                          0
17894                             0.0                          0
17895                             0.0                          0
17896                             0.0                          0
17897                             0.0                          0
17898                             0.0                          0
17899                             0.0                          0
17900                             0.0                          0
17901                             0.0                          0
17902                             0.0                          0
17903                             0.0                          0
17904                             0.0                          0
17905                             0.0                          0
17906                             0.0                          0
17907                             0.0                          0
17908                             0.0                          0
17909                             0.0                          0
17910                             0.0                          0
17911                             0.0                          0
17912                             0.0                          0
17913                             0.0                          0
17914                             0.0                          0
17915                             0.0                          0
17916                             0.0                          0
17917                             0.0                          0
17918                             0.0                          0

                   deltaSHAPE_confirmed_rep2  diffBUMHMM_in_cell  \
nucleotide_number
1                                          0        1.693237e-14
2                                          0        6.789051e-03
3                                          0        9.031615e-03
4                                          0        6.793530e-03
5                                          0        1.128597e-08
6                                          0        1.191380e-04
7                                          0        2.249087e-13
8                                          0        5.313845e-26
9                                          0        9.080458e-23
10                                         0        5.215553e-19
11                                         0        6.009477e-16
12                                         0        1.763824e-24
13                                         0        2.296883e-07
14                                         0        3.627380e-22
15                                         0        1.575088e-25
16                                         0        4.278883e-16
17                                         0        8.348135e-33
18                                         0        3.770879e-19
19                                         0        5.174691e-18
20                                         0        7.508767e-48
21                                         0        1.944761e-19
22                                         0        1.690221e-02
23                                         0        1.052799e-09
24                                         0        3.075237e-19
25                                         0        1.724955e-07
26                                         0        1.735182e-19
27                                         0        2.511137e-25
28                                         0        3.169568e-29
29                                         0        1.065333e-07
30                                         0        4.985847e-18
...                                      ...                 ...
17889                                      0        0.000000e+00
17890                                      0        0.000000e+00
17891                                      0        0.000000e+00
17892                                      0        0.000000e+00
17893                                      0        0.000000e+00
17894                                      0        0.000000e+00
17895                                      0        0.000000e+00
17896                                      0        0.000000e+00
17897                                      0        0.000000e+00
17898                                      0        0.000000e+00
17899                                      0        0.000000e+00
17900                                      0        0.000000e+00
17901                                      0        0.000000e+00
17902                                      0        0.000000e+00
17903                                      0        0.000000e+00
17904                                      0        0.000000e+00
17905                                      0        0.000000e+00
17906                                      0        0.000000e+00
17907                                      0        0.000000e+00
17908                                      0        0.000000e+00
17909                                      0        0.000000e+00
17910                                      0        0.000000e+00
17911                                      0        0.000000e+00
17912                                      0        0.000000e+00
17913                                      0        0.000000e+00
17914                                      0        0.000000e+00
17915                                      0        0.000000e+00
17916                                      0        0.000000e+00
17917                                      0        0.000000e+00
17918                                      0        0.000000e+00

                   diffBUMHMM_ex_vivo
nucleotide_number
1                        1.790644e-20
2                        6.823904e-03
3                        9.110841e-03
4                        6.927069e-03
5                        5.186918e-06
6                        1.037761e-11
7                        1.555269e-04
8                        9.078989e-28
9                        1.662307e-16
10                       9.387933e-31
11                       1.091346e-15
12                       3.348953e-15
13                       2.019877e-10
14                       4.428309e-41
15                       9.046236e-35
16                       2.189256e-31
17                       1.833563e-38
18                       3.598057e-32
19                       1.372550e-37
20                       4.315363e-66
21                       7.853152e-26
22                       3.529213e-03
23                       1.173847e-10
24                       5.464266e-05
25                       3.226226e-05
26                       2.530701e-67
27                       2.938456e-10
28                       3.486860e-07
29                       8.004229e-27
30                       1.005664e-29
...                               ...
17889                    0.000000e+00
17890                    0.000000e+00
17891                    0.000000e+00
17892                    0.000000e+00
17893                    0.000000e+00
17894                    0.000000e+00
17895                    0.000000e+00
17896                    0.000000e+00
17897                    0.000000e+00
17898                    0.000000e+00
17899                    0.000000e+00
17900                    0.000000e+00
17901                    0.000000e+00
17902                    0.000000e+00
17903                    0.000000e+00
17904                    0.000000e+00
17905                    0.000000e+00
17906                    0.000000e+00
17907                    0.000000e+00
17908                    0.000000e+00
17909                    0.000000e+00
17910                    0.000000e+00
17911                    0.000000e+00
17912                    0.000000e+00
17913                    0.000000e+00
17914                    0.000000e+00
17915                    0.000000e+00
17916                    0.000000e+00
17917                    0.000000e+00
17918                    0.000000e+00

[17918 rows x 8 columns]

In [18]:
exvivodiffbumhmm = new_df[new_df.diffBUMHMM_ex_vivo > 0.9]
incelldiffbumhmm = new_df[new_df.diffBUMHMM_in_cell > 0.9]

In [19]:
print(exvivodiffbumhmm)

                  nucleotide_identity  DeltaSHAPE_ex_vivo  DeltaSHAPE_in_cell  \
nucleotide_number
63                                  C                   0                   0
66                                  T                   0                   0
70                                  A                   0                   0
72                                  G                   0                   0
77                                  T                   0                   0
78                                  T                   0                   0
79                                  G                   0                   0
131                                 A                   0                   0
133                                 C                   0                   0
134                                 A                   0                   0
139                                 A                   0                   0
168                                 T                   0                   0
174                                 C                   0                   0
181                                 G                   0                   1
208                                 C                   0                   0
235                                 C                   0                   0
236                                 A                   0                   0
237                                 A                   0                   0
261                                 C                   0                   0
307                                 A                   0                   0
336                                 C                   0                   0
365                                 C                   0                   0
366                                 T                   0                   0
442                                 T                   0                   0
475                                 T                   0                   0
493                                 C                   0                   0
494                                 T                   0                   0
517                                 T                   0                   0
518                                 G                   0                   0
519                                 G                   0                   0
...                               ...                 ...                 ...
17555                               A                   0                   0
17560                               C                   0                   0
17561                               T                   0                   0
17562                               G                   0                   0
17563                               A                   0                   0
17564                               A                   0                   0
17565                               A                   0                   0
17567                               C                   0                   0
17569                               T                   0                   0
17582                               T                   0                   0
17583                               A                   0                   0
17584                               C                   0                   0
17588                               C                   0                   0
17592                               A                   0                   0
17595                               A                   0                   0
17596                               T                   0                   0
17615                               T                   0                   0
17625                               A                   0                   0
17642                               A                   1                   0
17648                               A                   1                   0
17649                               C                   0                   0
17650                               T                   0                   0
17664                               T                   0                   0
17666                               G                   0                   0
17668                               T                   0                   0
17669                               G                   0                   0
17671                               A                   0                   0
17696                               C                   0                   0
17697                               T                   0                   0
17699                               T                   0                   0

                   average_deltaSHAPE  deltaSHAPE_confirmed_rep1  \
nucleotide_number
63                           0.000000                          0
66                           0.000000                          0
70                           0.000000                          0
72                           0.000000                          0
77                           0.000000                          0
78                           0.000000                          0
79                           0.000000                          0
131                          0.000000                          0
133                          0.000000                          0
134                          0.000000                          0
139                          0.000000                          0
168                          0.000000                          0
174                          0.000000                          0
181                         -1.415818                          0
208                          0.000000                          0
235                          0.000000                          0
236                          0.000000                          0
237                          0.000000                          0
261                          0.000000                          0
307                          0.000000                          0
336                          0.000000                          0
365                          0.000000                          0
366                          0.000000                          0
442                          0.000000                          0
475                          0.000000                          0
493                          0.000000                          0
494                          0.000000                          0
517                          0.000000                          0
518                          0.000000                          0
519                          0.000000                          0
...                               ...                        ...
17555                        0.000000                          0
17560                        0.000000                          0
17561                        0.000000                          0
17562                        0.000000                          0
17563                        0.000000                          0
17564                        0.000000                          0
17565                        0.000000                          0
17567                        0.000000                          0
17569                        0.000000                          0
17582                        0.000000                          0
17583                        0.000000                          0
17584                        0.000000                          0
17588                        0.000000                          0
17592                        0.000000                          0
17595                        0.000000                          0
17596                        0.000000                          0
17615                        0.000000                          0
17625                        0.000000                          0
17642                        1.829456                          0
17648                        1.064648                          0
17649                        0.000000                          0
17650                        0.000000                          0
17664                        0.000000                          0
17666                        0.000000                          0
17668                        0.000000                          0
17669                        0.000000                          0
17671                        0.000000                          0
17696                        0.000000                          0
17697                        0.000000                          0
17699                        0.000000                          0

                   deltaSHAPE_confirmed_rep2  diffBUMHMM_in_cell  \
nucleotide_number
63                                         0        1.531673e-07
66                                         0        3.628130e-11
70                                         0        4.078097e-11
72                                         0        9.752855e-07
77                                         0        4.108187e-09
78                                         0        3.167805e-12
79                                         0        4.937951e-21
131                                        0        2.482058e-24
133                                        0        3.900736e-07
134                                        0        1.564516e-08
139                                        0        1.448393e-07
168                                        0        4.994819e-13
174                                        0        4.249797e-04
181                                        1        8.585709e-09
208                                        0        4.960360e-09
235                                        0        9.690155e-17
236                                        0        3.394476e-14
237                                        0        1.533420e-14
261                                        0        6.245179e-18
307                                        0        2.179762e-09
336                                        0        5.217058e-05
365                                        0        5.945885e-10
366                                        0        1.451486e-09
442                                        0        3.298375e-06
475                                        0        6.847229e-06
493                                        0        1.104110e-03
494                                        0        4.681174e-13
517                                        0        2.710474e-17
518                                        0        4.783241e-16
519                                        0        1.041432e-07
...                                      ...                 ...
17555                                      0        3.156246e-13
17560                                      0        1.106660e-16
17561                                      0        1.042946e-14
17562                                      0        5.959915e-11
17563                                      0        6.661439e-13
17564                                      0        4.797788e-21
17565                                      0        1.569096e-81
17567                                      0        1.645132e-23
17569                                      0        1.837520e-08
17582                                      0        1.876283e-17
17583                                      0        2.186754e-34
17584                                      0        1.084177e-16
17588                                      0        1.211744e-14
17592                                      0        2.150913e-08
17595                                      0        3.349412e-15
17596                                      0        1.539045e-13
17615                                      0        2.845779e-11
17625                                      0        1.591359e-36
17642                                      1        5.628624e-25
17648                                      1        2.937081e-31
17649                                      0        4.608018e-25
17650                                      0        1.007319e-09
17664                                      0        2.436006e-10
17666                                      0        1.346732e-12
17668                                      0        1.737360e-27
17669                                      0        2.694258e-23
17671                                      0        1.077498e-16
17696                                      0        3.370954e-12
17697                                      0        2.874194e-23
17699                                      0        5.169033e-19

                   diffBUMHMM_ex_vivo
nucleotide_number
63                           0.997941
66                           0.907326
70                           0.993737
72                           0.992571
77                           0.999822
78                           0.999850
79                           0.955130
131                          0.990131
133                          0.954065
134                          0.998701
139                          0.988384
168                          0.998539
174                          0.936366
181                          0.961748
208                          0.999819
235                          0.997096
236                          0.999921
237                          0.999999
261                          0.999668
307                          0.986271
336                          0.982782
365                          0.983570
366                          0.969441
442                          0.979837
475                          0.990466
493                          0.932831
494                          0.989624
517                          0.975597
518                          0.999992
519                          0.996373
...                               ...
17555                        0.997798
17560                        0.999998
17561                        0.999986
17562                        0.911291
17563                        0.999009
17564                        1.000000
17565                        0.999999
17567                        0.999989
17569                        0.996638
17582                        0.999999
17583                        0.999079
17584                        0.999979
17588                        0.990821
17592                        0.992308
17595                        0.999524
17596                        0.999999
17615                        0.999989
17625                        0.999793
17642                        0.971655
17648                        0.993591
17649                        0.999993
17650                        0.999861
17664                        0.993403
17666                        0.999992
17668                        0.999990
17669                        0.999576
17671                        0.999875
17696                        0.999964
17697                        0.999860
17699                        0.998785

[1906 rows x 8 columns]

In [20]:
print(exvivodiffbumhmm.columns)

Index(['nucleotide_identity', 'DeltaSHAPE_ex_vivo', 'DeltaSHAPE_in_cell',
       'average_deltaSHAPE', 'deltaSHAPE_confirmed_rep1',
       'deltaSHAPE_confirmed_rep2', 'diffBUMHMM_in_cell',
       'diffBUMHMM_ex_vivo'],
      dtype='object')

In [21]:
counter = 0
counter2 = 0
for index, row in new_df.iterrows():
    if row['deltaSHAPE_confirmed_rep1'] > 0.0:
        counter = counter+1    
    elif row['deltaSHAPE_confirmed_rep2'] > 0.0:
        counter2= counter2 +1
    else:
        continue
        
print(" total number of dSHAPE confirmed site in rep 1   %s" % counter)
print(" total number of dSHAPE confirmed site in rep 2    %s" % counter2)

 total number of dSHAPE confirmed site in rep 1   1066
 total number of dSHAPE confirmed site in rep 2    989

In [22]:
#Numbrt of deltaSHAPE confirmed sites that correpsond to positions
#with diffBUMHMM posterior probability higher than 0.9 for ex vivo

detected_deltashape_rep1_exvivodiffbumhmm= exvivodiffbumhmm['deltaSHAPE_confirmed_rep1'].sum()
detected_deltashape_rep2_exvivodiffbumhmm= exvivodiffbumhmm['deltaSHAPE_confirmed_rep2'].sum()

#Numbrt of deltaSHAPE confirmed sites that correpsond to positions
#with diffBUMHMM posterior probability higher than 0.9 for incell

detected_deltashape_rep1_incelldiffbumhmm= incelldiffbumhmm['deltaSHAPE_confirmed_rep1'].sum()
detected_deltashape_rep2_incelldiffbumhmm= incelldiffbumhmm['deltaSHAPE_confirmed_rep2'].sum()

In [24]:
#Percentage of confirmed deltaSHAPE value predicted by either diffBUM HMM ev v
#print(exvivodiffbumhmm[exvivodiffbumhmm.deltaSHAPE_confirmed_rep1 >0])

perc_rep1=(detected_deltashape_rep1_exvivodiffbumhmm+detected_deltashape_rep1_incelldiffbumhmm)/1066*100

perc_rep2=(detected_deltashape_rep2_exvivodiffbumhmm+detected_deltashape_rep2_incelldiffbumhmm)/989*100


print("Percentage of agreement deltashape rep 1 with diffbumhmm is " + str(perc_rep1))
print("Percentage of agreement deltashape rep 2 with diffbumhmm is " + str(perc_rep2))

Percentage of agreement deltashape rep 1 with diffbumhmm is 13.03939962476548
Percentage of agreement deltashape rep 2 with diffbumhmm is 17.087967644084934